<div class="d-grid">
    @if(connectedOperator){
    <div class="w-100 d-flex bg-main text-white justify-content-between align-items-center" >
        <div class="bg-white py-1">
            <img class="bg-white" style="width: 200px; height: 70px;" src="{{connectedOperator.company.logo}}" alt="">
        </div>
        @if(!connectedOperator.agency?.is_affiliated){
            <div class="bg-white py-1">
                <img class="bg-white" style="width: 200px; height: 70px;" src="{{connectedOperator.agency.logo}}" alt="">
            </div>
        }

        
        <div class="d-flex align-items-center profile-border">
            <div class="profile-img overflow-hidden border-md-success me-2 rounded-circle">
                <img src="{{connectedOperator.user.profile_picture}}" alt="">
            </div>
            <div class="d-grid me-3">
                
                <b>{{connectedOperator.full_name}}</b>
                <span class="text-light"> <i class="fa fa-briefcase me-2"></i>{{connectedOperator.agency_name}}</span>

            </div>

        </div>
        
    </div>
    }

    

    <hr class="w-100 m-0 text-secondary">

</div>