<div class="d-grid">
    <div class="w-100 d-flex bg-main text-white justify-content-between" s>
        <div>
            <img style="width: 200px; height: 70px;" src="../../../../../assets/images/serenity-logo.png" alt="">
        </div>
        
        <div class="d-flex align-items-center">
            <div class="profile-img overflow-hidden border-md-success me-2 rounded-circle">
                <img src="../../../../../assets/images/Delice(1).jpg" alt="">
            </div>
            <div class="d-grid me-3">
                
                <b>Don Delice DUSHIME</b>
                <span class="text-light">Producteur, ONEMA</span>

            </div>

        </div>
    </div>
    <hr class="w-100 m-0 text-secondary">

</div>