<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="text-center">
      <i class="fas fa-cogs fa-spin fa-5x text-main mb-4"></i>
      <h4 class="">Cette page est en cours de construction</h4>
      <p class="lead">Nous travaillons actuellement sur cette page pour vous offrir la meilleure expérience. Revenez bientôt !</p>
      <div class="mt-4">
        <a href="/" class="btn bg-main text-white">Retour à l'accueil</a>
      </div>
    </div>
  </div>
  