<!-- operator-dashboard.component.html -->
<div class="container dashboard-container">


  
    <!-- Top Section: Statistics -->
    <!-- <div class="row mb-4">
      <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
        <div class="card bg-primary text-white h-100">
          <div class="card-body">
            <h5 class="card-title">Total Transactions ( This month )</h5>
            <p class="card-text display-4">1,234</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
        <div class="card bg-success text-white h-100">
          <div class="card-body">
            <h5 class="card-title">Active Policies</h5>
            <p class="card-text display-4">567</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
        <div class="card bg-warning text-dark h-100">
          <div class="card-body">
            <h5 class="card-title">Pending Claims</h5>
            <p class="card-text display-4">89</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
        <div class="card bg-main text-white h-100">
          <div class="card-body">
            <h5 class="card-title">Revenue</h5>
            <p class="card-text display-4">$12,345</p>
          </div>
        </div>
      </div>
    </div> -->
  
    <!-- Bottom Section: Charts -->
    <div class="row">
      <div class="col-12 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Transaction Evolution</h5>
            <app-bar-chart [datas]="datasBar"></app-bar-chart>

          </div>
        </div>
      </div>
      <!-- <div class="col-12">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Transaction Types</h5>
            <app-pie-chart [datas]="datas"></app-pie-chart>

          </div>
        </div>
      </div> -->
    </div>
  </div>
  <router-outlet></router-outlet>