<div class="ms-4 mt-4 d-grid text-white w-100">
    <div>
        <div class="row">
            <div class="col-auto me-5 bg-info rounded ">
                <div class="d-flex align-items-center justify-content-center">
                    <span class="ticket ms-2 me-4">
                        <i class="fa fa-ticket "></i>
                    </span>
                    <div class="d-grid me-3">
                        <span class="fs-5">Contrats</span>
                        <b class="fs-1">42</b>
                        <span class="fs-5">Aujourd hui</span>
                    </div>
                </div>
            </div>
            <div class="col-auto bg-primary rounded me-5">
                <div class="d-flex align-items-center justify-content-center">
                    <span class="ticket ms-2 me-4">
                        <i class="fa fa-ticket "></i>
                    </span>
                    <div class="d-grid me-3">
                        <span class="fs-5">Sinistres</span>
                        <b class="fs-1">14</b>
                        <span class="fs-5">Aujourd hui</span>
                    </div>
                </div>
            </div>
            <div class="col-auto bg-secondary rounded me-5">
                <div class="d-flex align-items-center justify-content-center">
                    <span class="ticket ms-2 me-4">
                        <i class="fa fa-ticket "></i>
                    </span>
                    <div class="d-grid me-3">
                        <span class="fs-5">Declarations</span>
                        <b class="fs-1">14</b>
                        <span class="fs-5">Cette semaine</span>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>