<div class="card mt-3">
  <div class="card-header">
    <h5 class="mb-0">{{ title || (id ? 'Update' : 'Create') }}</h5>
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSave()">
      <div *ngFor="let key of form?.controls | keyvalue" class="mb-3">
        <label [for]="key.key" class="form-label">{{ key.key | titlecase }}</label>
        <input
          [id]="key.key"
          class="form-control"
          [formControlName]="key.key"
          type="text"
        />
        <div *ngIf="form.get(key.key)?.invalid && form.get(key.key)?.touched" class="text-danger small">
          {{ key.key | titlecase }} is required
        </div>
      </div>
      <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
      <div class="d-flex justify-content-end gap-2">
        <!-- <button type="button" class="btn btn-secondary" (click)="onCancel()" [disabled]="isLoading">Cancel</button> -->
        <button type="submit" class="btn bg-main text-white" [disabled]="form.invalid || isLoading">
          <span data-bs-toggle="modal" data-bs-target="#updateModal" *ngIf="isLoading" class="spinner-border spinner-border-sm me-2"></span>
          Enregistrer
        </button>
      </div>
    </form>
  </div>
</div>




<!--
          [type]="typeof body[key.key] === 'number' ? 'number' : 'text'" 

-->
