<div class="d-grid contract-wrapper">
                        
                        
                        <div class="d-grid mt-3 my-1 ">
                                            <div class="d-flex mb-2 justify-content-between align-items-start">
                    <div class="d-grid">
                    <img style="width:80px" src="{{policy.company?.logo}}">

                        <small style="font-style: italic;" class=" fs-7 text-dark d-grid">
                            <small>Plus qu'un assureur,</small>
                            <small>Un partenaire,</small>
                            <small>Un accompagnateur.</small>
                              
                        </small>
                    </div>
                    <div class="d-grid ms-3 align-items-center">
                        <b class="fs-7 text-main text-center">UCAR VIE ET CAPITALISATION S.A</b>
                        <b class="text-center">CAPITAL SOCIAL : 2.000.000.000 BIF</b>
                        <b class="text-center">ENTREPRISE RÉGIE PAR LE CODE DES ASSURANCES DU BURUNDI</b>
                        <b class="text-center">SIÈGE SOCIAL : ROHERO I, AV DE LA JRR No 16</b>
                        <b class="text-center">TÉL : +257 22280069</b>
                    </div>
                    <img style="width:80px" src="{{policy.agency?.logo}}">
            
                </div>
                            <b class="text-center w-auto px-4 bg-main fs-4 rounded p-2 header-title text-white">
                            <b>POLICE D'ASSURANCE PROTECTION CRÉDIT / Solde restant dû </b>
                        </b>
                            <h6 class="text-center">
                                <b>DETAILS DE L'ASSURÉ</b>
                            </h6>
                            <div class=" w-100 d-flex justify-content-end">
                                <span>No : <b>{{policy.policy_number}}</b></span>
                            </div>
                            
                            <div>
                                <table class="table table-bordered">
                                    <tr>
                                        <td>
                                            <div class="d-grid">
                                                <div class="d-flex align-items-center mb-1">
                                                    <span>Preneur d'assurance :</span>
                                                    @if(policy.credit_insurance?.is_group){
                                                        <b>{{policy.credit_insurance?.raison_sociale}}</b>
                                                    }@else {
                                                        <b>{{policy.credit_insurance?.members[0].full_name}}</b>
                                                    }
                                                </div>
                                                @if(!policy.credit_insurance?.is_group){
                                                    <div class="d-flex align-items-center mb-1">
                                                        <span>Date de naissance :</span>
                                                        <b>{{policy.credit_insurance?.members[0].birth_year}}</b>
                                                    </div>
                                                    <div class="d-flex align-items-center mb-1">
                                                        <span>Addresse :</span>
                                                        <b>{{policy.credit_insurance?.members[0].addresse}}</b>
                                                    </div>
                                                    <div class="d-flex align-items-center mb-1">
                                                        <span>No de Telephone :</span>
                                                        <b>{{policy.credit_insurance?.members[0].phone_number}}</b>
                                                    </div>
                                                    <div class="d-flex align-items-center mb-1">
                                                        <span>CNI/PASSPORT/No :</span>
                                                        <b>{{policy.credit_insurance?.members[0].id_number}}</b>
                                                    </div>
                                                    <div class="d-flex align-items-center mb-1">
                                                        <span>Employeur :</span>
                                                        <b>{{policy.credit_insurance?.members[0].employer}}</b>
                                                    </div>
                                                }
                                            </div>
                                        </td>
                                        @if(!policy.credit_insurance?.is_group){
                                            <td>
                                                <div class="d-grid">
                                                    <!-- <div class="d-flex align-items-center mb-1">
                                                        <span>Prochain anniversaire :</span>
                                                        <b>{{policy.credit_insurance?.members[0].next_birth}}</b>
                                                    </div> -->
                                                    <div class="d-flex align-items-center mb-1">
                                                        <span>Email :</span>
                                                        <b>{{policy.credit_insurance?.members[0].email}}</b>
                                                    </div>
                                                    <div class="d-flex align-items-center mb-1">
                                                        <span>No du compte :</span>
                                                        <b>{{policy.credit_insurance?.members[0].account_number}}</b>
                                                    </div>
                                                </div>
                                            </td>
                                        }
                                        <td>
                                            <div class="d-grid">
                                                <div class="d-flex align-items-center mb-1">
                                                    <span>Nom de la banque/succursale :</span>
                                                    <b>{{policy.agency?.name}}</b>
                                                </div>
                                                <div class="d-flex align-items-center mb-1">
                                                    <span>Agence :</span>
                                                    <b>{{policy.agency?.sub_agency}}</b>
                                                </div>
                                                <!-- <div class="d-flex align-items-center">
                                                    <span>Mandataire :</span>
                                                    <b></b>
                                                </div> -->
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        
                        <div class="d-grid mb-2">
                            <h6 class="text-center my-1"><b>MODALITÉS DE SOUSCRIPTION</b></h6>
                            <div>
                                <div class="border border-dark p-2">
                                    <div class="d-grid">
                                        <div class="d-flex align-items-center">
                                            <span>Effet de la garantie : </span>
                                            <b>Date d'octroi du crédit</b>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <span>Montant du prêt :</span>
                                            <b>{{policy.credit_insurance?.credit_amount | number}} FBU</b>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <span>Durée de remboursement :</span>
                                            <b>{{policy.period}} mensualités</b>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <span>Prime à payer :</span>
                                            <b>{{policy.credit_insurance?.total_premium | number}} FBU</b>
                                        </div>
                                        <!-- <div class="d-flex row justify-content-between">
                                            <div class="d-flex col-lg-4 mt-2 align-items-center">
                                                <b>Période de la police </b>
                                                <b></b>
                                            </div>
                                            <div class="d-flex col-lg-4 align-items-center">
                                                <span>Date d'effet :</span>
                                                <b>{{policy.issue_date | date:'dd/MM/yyyy'}}</b>
                                            </div>
                                            <div class="d-flex col-lg-4 align-items-center">
                                                <span>Date d'échéance :</span>
                                                <b>{{policy.expiration_date | date:'dd/MM/yyyy'}}</b>
                                            </div>
                                        </div> -->
                                    </div>
                                    
                                    <table class="table table-bordered mt-2">
                                        <tr>
                                            <th class="w-50">Garanties couvertes par assurance</th>
                                            <th class="w-50">Indemnisation</th>
                                        </tr>
                                        <tr>
                                            <td class="w-50">
                                                <div class="d-grid">
                                                    <div class="w-100 d-flex justify-content-between">
                                                        <span>Décès :</span>
                                                        <span>
                                                            <i class="fa-regular fa-square-check"></i>
                                                        </span>
                                                    </div>
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <span>Invalidité totale permanente :</span>
                                                        <span>
                                                            <i class="fa-regular fa-square-check"></i>
                                                        </span>
                                                    </div>
                                                    @if(policy.credit_insurance?.coverage=="job_loss"){
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <span>Perte d'emploi involontaire :</span>
                                                        <span>
                                                           
                                                                <i class="fa-regular fa-square-check"></i>
                                                        </span>
                                                    </div>
                                                }
                                                </div>
                                            </td>
                                            <td class="w-50">
                                                <div class="d-grid">
                                                    <div class="d-grid">
                                                        <span>Décès : solde restant dû</span>
                                                        <span>Invalidité totale permanente : solde restant dû</span>
                                                        @if(policy.credit_insurance?.coverage=="job_loss"){
                                                            <span>
                                                                Perte d'emploi involontaire : Remboursement du solde restant dû avec un maximum de 10 millions après une franchise de 3 mois
                                                            </span>
                                                        }
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        <div class="d-grid mb-2">
                            <h5 class="text-center my-1"><b>Les exclusions liées à cette police-décès et invalidité totale ou permanente</b></h5>
                            <div>
                                <table class="table table-bordered">
                                    <tr>
                                        <td class="w-50">
                                            <div class="d-grid">
                                                <span>1. Risque de guerre, émeutes, insurrection civile ou terrorisme;</span>
                                                <span>2. Suicide &laquo; conscient &raquo;;</span>
                                                <span>3. Les pandémies;</span>
                                                <span>4. Les risques aériens spéciaux;</span>
                                                <span>5. Participation à tout acte criminel;</span>
                                            </div>
                                        </td>
                                        <td class="w-50">
                                            <div class="d-grid">
                                                <span>6. Usage de stupéfiants non ordonnés médicalement;</span>
                                                <span>7. Maladies mentales ou troubles nerveux chroniques;</span>
                                                <span>8. Conséquences de la désintégration du noyau atomique des radiations ionisantes;</span>
                                                <span>9. Tout fait intentionnel de l'assuré</span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        
                        @if(policy.credit_insurance?.coverage=="job_loss"){
                            <div class="d-grid mb-3">
                                <h5 class="text-center my-2 mt-2"><b>Sont exclus de la garantie de perte d'emploi involontaire</b></h5>
                                <div class="mb-3">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td class="w-50">
                                                <div class="d-grid">
                                                    <span>1. Le licenciement pour faute lourde ou faute grave;</span>
                                                    <span>2. Chômage technique ou la perte d'emploi pour des raisons liées à des mesures d'assainissement et/ou catastrophe naturelles;</span>
                                                    <span>3. Démission volontaire de l'assuré ainsi que le départ négocié à caractère individuel;</span>
                                                    <span>4. Renvoi lié directement ou indirectement à une blessure qu'on s'inflige soi-même, ou une activité illégale;</span>
                                                    <span>5. Le chômage à l'issue ou en cours d'un contrat du travail à durée déterminée ou d'une période d'essai non concluante;</span>
                                                </div>
                                            </td>
                                            <td class="w-50">
                                                <div class="d-grid">
                                                    <span>6. La simple suspension du contrat de travail;</span>
                                                    <span>7. Couverture au-delà de fin de mandat ou de projet;</span>
                                                    <span>8. La mise à la retraite anticipée;</span>
                                                    <span>9. Désertion de service;</span>
                                                    <span>10. Licenciement collectif ou en cas de force majeure;</span>
                                                    <span>11. Le changement d'employeur</span>
                                                    <span>12. Licenciement pour des raisons politiques et/ou economiques</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                
                                <div class="my-1">
                                    <h5>Définition de la perte d'emploi involontaire et licenciement dans le cadre de cette police</h5>
                                    <div>
                                        <ul>
                                            <li class="d-flex align-items-center">
                                                
                                                <span><b>1. La perte d'emploi involontaire </b> signifie que vous tombez et restez au chômage directement à la suite d'un licenciement et que vous ne recevez aucun revenu d'aucune profession.</span>
                                            </li>
                                            <li class="d-flex align-items-center">
                                                
                                                <span><b>2. Licenciement </b> signifie que votre fonction chez votre employeur prend fin à la suite de l'introduction d'une nouvelle technologie ou de la réorganisation de votre entreprise.</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="my-1">
                            <small>
                                <b>N.B : Le contrat vie n'a ni valeur de reduction, ni valeur d'achat</b>
                            </small>
                        </div>
                        <!-- <div class="my-2">
                            <small style="font-style: italic;">Le présent contrat sera valide à la date d'octroi du crédit.</small>
                        </div> -->
                        
                        <div class="my-2">
                            <div> 
                                @if(policy.credit_insurance?.is_group){
                                    Nous soussignés 
                                    <b class="mx-0">{{policy.credit_insurance?.members[0].full_name}}</b>
                                    <span> et </span>
                                    <b>{{policy.credit_insurance?.members[1].full_name}}</b>
                                    <span> au nom du groupe </span>
                                    <b>{{policy.credit_insurance?.raison_sociale}}</b>
                                }@else{
                                    Je soussigné 
                                    <b class="mx-0">{{policy.credit_insurance?.members[0].full_name}}</b>
                                }
                                déclare que cette assurance ne remplace aucune autre assurance et je comprends que je pourrais être tenu de subir des examens médicaux dans certaines circonstances. Je conviens que si les déclarations ci-dessus ne sont pas vraies, cette assurance sera nulle et non avenue.
                            </div>
                        </div>
                        
                        <div class="my-1">
                            <span>Bénéficiaire en cas de réalisation du risque couvert par la présente police : <b>{{policy.agency?.name}}</b></span>
                        </div>
                        
                        
                        <div class="text-center my-1">
                            <p>Fait à Bujumbura, le <strong>{{policy.created_at | date:'dd/MM/yyyy, h:mm a'}}</strong> par <strong> {{policy.operator?.full_name}} </strong></p>
                          </div>
                        
                          <div class="d-flex mt-2 justify-content-between align-items-start">
                            <div class="d-grid align-items-center text-center w-33">
                                @if(policy.credit_insurance?.is_group){
                                    <span>PRENEUR D'ASSURANCE</span>
                                    <b class="mb-5">{{policy.credit_insurance?.members[0].full_name}}</b>
                                    <b class="mt-2">{{policy.credit_insurance?.members[1].full_name}}</b>
                                }@else{
                                    <span>PRENEUR D'ASSURANCE</span>
                                    <b>{{policy.credit_insurance?.members[0].full_name}}</b>
                                }
                            </div>
                            <div class="d-grid align-items-center text-center w-33">
                                <span>BANQUE/BENEFICIAIRE</span>
                                <b>{{policy.agency?.name}}</b>
                            </div>
                            <div class="d-grid align-items-center text-center w-33">
                                <span>Approuvé par </span>
                                <b>{{policy.company?.name}}</b>
                                <div class="qr-code-container">
                                    <qr-code
                                    value="{{
                                        '\nNuméro de police: ' + policy.policy_number + 
                                        '\nPreneur d\'assurance: ' + policy.credit_insurance?.members[0].full_name +
                                        '\nDate: ' + (policy.issue_date | date:'dd/MM/yyyy') +
                                        '\nValidité: ' + (policy.expiration_date | date:'dd/MM/yyyy')+
                                        '\nBANQUE/BENEFICIAIRE :' + policy.agency?.name + 
                          
                                        '\nCompagnie d\'assurance: ' + (policy.company?.name) 
                              }}"
    size="120"
/>
<!--

-->

                                </div>
                            </div>
                        </div>
                        <div class="mt-1 d-flex align-items-center">
                            <span>Bancassurance : </span>
                            <b>{{policy.agency?.name}}</b>
                        </div>
                    </div>