<main>
    <div class="my-3">
        <div class="w-100 d-flex justify-content-center">
            <h3>
                <b>Enregistrement du nouveau client</b>
            </h3>
        </div>
    </div>
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()" class="container">
        <!-- <div class="row">
           <div class="col-md-6 mb-3 form-floating">
            <input id="username" formControlName="username" type="text" class="form-control" />
            <label for="username">Nom du souscripteur</label>
            <small *ngIf="clientForm.get('username')?.invalid && clientForm.get('username')?.touched" class="text-danger">
              Le nom du souscripteur doit comporter entre 3 et 20 caractères.
            </small>
          </div> 
      

        </div> -->
      
        <div class="row">
          <div class="col-md-6 mb-3 form-floating">
            <input id="first_name" formControlName="first_name" type="text" class="form-control" />
            <label for="first_name">Prénom</label>
            <small *ngIf="clientForm.get('first_name')?.invalid && clientForm.get('first_name')?.touched" class="text-danger">
              Le prénom est requis.
            </small>
          </div>
      
          <div class="col-md-6 mb-3 form-floating">
            <input id="last_name" formControlName="last_name" type="text" class="form-control" />
            <label for="last_name">Nom de famille</label>
            <small *ngIf="clientForm.get('last_name')?.invalid && clientForm.get('last_name')?.touched" class="text-danger">
              Le nom de famille est requis.
            </small>
          </div>
        </div>
      
        <div class="row">

          <div class="col-md-6 mb-3 form-floating">
            <input id="phone_number" formControlName="phone_number" type="text" class="form-control" />
            <label for="phone_number">Numéro de téléphone</label>
            <small *ngIf="clientForm.get('phone_number')?.invalid && clientForm.get('phone_number')?.touched" class="text-danger">
              Le numéro de téléphone doit comporter 8 chiffres.
            </small>
          </div>
          <div class="col-md-6 mb-3 form-floating">
            <input id="email" formControlName="email" type="email" class="form-control" />
            <label for="email">Email</label>
            <small *ngIf="clientForm.get('email')?.invalid && clientForm.get('email')?.touched" class="text-danger">
              Veuillez entrer un email valide.
            </small>
          </div>
      

        </div>
        <div class="row">
          <div class="col-md-6 mb-3 form-floating">
            <input id="country" formControlName="country" type="text" class="form-control" />
            <label for="country">Pays</label>
            <small *ngIf="clientForm.get('country')?.invalid && clientForm.get('country')?.touched" class="text-danger">
              Le pays est requis.
            </small>
          </div>
          <div class="col-md-6 mb-3 form-floating">
            <input id="city" formControlName="city" type="text" class="form-control" />
            <label for="city">Ville</label>
            <small *ngIf="clientForm.get('city')?.invalid && clientForm.get('city')?.touched" class="text-danger">
              La ville est requise.
            </small>
          </div>
      
          <div class="col-md-6 mb-3 form-floating">
            <input id="commune" formControlName="commune" type="text" class="form-control" />
            <label for="commune">Commune</label>
            <small *ngIf="clientForm.get('commune')?.invalid && clientForm.get('commune')?.touched" class="text-danger">
              La commune est requise.
            </small>
          </div>
          <div class="col-md-6 mb-3 form-floating">
            <input id="zone" formControlName="zone" type="text" class="form-control" />
            <label for="zone">Zone</label>
            <small *ngIf="clientForm.get('zone')?.invalid && clientForm.get('zone')?.touched" class="text-danger">
              La zone est requise.
            </small>
          </div>
      
          <div class="col-md-6 mb-3 form-floating">
            <input id="quartier" formControlName="quartier" type="text" class="form-control" />
            <label for="quartier">Quartier</label>
            <small *ngIf="clientForm.get('quartier')?.invalid && clientForm.get('quartier')?.touched" class="text-danger">
              Le quartier est requis.
            </small>
          </div>
        </div>
      

      

      
        <!-- Message d'erreur -->
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
      
        <!-- Bouton de soumission -->
        <div class="d-flex justify-content-center">
          <button type="submit" [disabled]="isLoading || clientForm.invalid" class="p-2 rounded text-white bg-main">
            {{ isLoading ? 'Création en cours...' : 'Enregistrer un client' }}
          </button>
        </div>
      </form>
      
</main>