<div class="contract-wrapper">
    <div class="d-flex mb-2 justify-content-between">
        <div class="d-grid">
        <img style="width:100px" src="{{policy.company?.logo}}">

            <small style="font-style: italic;" class=" fs-6 text-dark d-grid">
                <small>Plus qu'un assureur,</small>
                <small>Un partenaire,</small>
                <small>Un accompagnateur.</small>
                  
            </small>
        </div>
        <div class="d-grid ms-3 align-items-center">
            <b class="fs-4 text-main text-center">UCAR VIE ET CAPITALISATION S.A</b>
            <b class="text-center">CAPITAL SOCIAL : 2.000.000.000 BIF</b>
            <b class="text-center">ENTREPRISE RÉGIE PAR LE CODE DES ASSURANCES DU BURUNDI</b>
            <b class="text-center">SIÈGE SOCIAL : ROHERO I, AV DE LA JRR No 16</b>
            <b class="text-center">TÉL : +257 22280069</b>
        </div>
        <img style="width:100px" src="{{policy.agency?.logo}}">

    </div>
    <!-- Header -->
    <div class="my-2 grey-bg">
        <div class="d-grid">
            <div class="d-flex mb-2">
                <span>Couvertures :</span>
                <div class="d-grid">
                    <span>1. Décès</span>
                    <span>2. Invalidité totale permanente</span>
                    @if(policy.credit_insurance?.coverage=="job_loss"){
                        <span>3. Perte d'emploi involontaire</span>
                    }
                </div>
            </div>
            <div class="d-flex mb-2">
                <span class="me-3">Date d'effet :</span>
                <span>Date d'octroi du crédit</span>
            </div>
        </div>
    </div>
    <div>
        <h3 class="text-center header-title">
            <b>ASSURANCE PROTECTION CRÉDIT/SOLDE RESTANT DÛ</b>
        </h3>
        <h2 class="text-center">CONDITIONS PARTICULIÈRES</h2>
        <h2 class="text-center border-bottom border-dark">Nom du groupe : @if(policy.credit_insurance?.is_group){ {{policy.credit_insurance?.raison_sociale}} }@else{ {{policy.credit_insurance?.members[0].full_name}} }</h2>
        <div class="d-grid">
      <table class="table my-2 table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom & prénom</th>
                <th scope="col">Âge</th>
                @if(policy.credit_insurance?.is_refinancing){
                <th scope="col">Montant en cours</th>
                <th scope="col">Montant de refinancement</th>
                }
                <th scope="col">Montant de crédit</th>
                <th scope="col">Durée de remboursement</th>
                <th scope="col">Prime totale</th>

                <th scope="col">Frais de gestion</th>
                <th scope="col">Frais de controle</th>
                <th scope="col">Frais FAPS</th>
                <th scope="col">Frais Dev secteur</th>
                <th scope="col">Frais Digitalisation</th>
                <th scope="col">Frais Formation</th>
                <th scope="col">Prime nette</th>
                <th scope="col">Commission</th>
                <th scope="col">Prime pure</th>







            </tr>
        </thead>
        <tbody>
            @for(member of policy.credit_insurance?.members; track member; let i=$index){
            <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{member.full_name}}</td>
                <td>{{member.age}}</td>
                @if(policy.credit_insurance?.is_refinancing){
                <td scope="col">{{member.ongoing_amount | number}} </td>
                <td scope="col">{{member.credit_amount | number}} </td>
                }
                <td scope="col">{{member.credit_amount | number}} </td>
                <td scope="col">{{member.number_of_installments}}</td>
                <td scope="col">{{member.member_prime | number}} </td>

                <td scope="col">{{member.frais_gestion | number}}</td>
                <td scope="col">{{member.frais_controle | number}}</td>
                <td scope="col">{{member.frais_faps | number}}</td>
                <td scope="col">{{member.frais_dev_secteur | number}}</td>
                <td scope="col">{{member.frais_digitalisation | number}}</td>
                <td scope="col">{{member.frais_formation | number}}</td>
                <td scope="col">{{member.prime_nette | number}}</td>
                <td scope="col">{{member.commission | number}}</td>

                <td scope="col">{{member.prime_pure | number}} </td>



                            <td>

            </td>
            </tr>
            }

            <tr>
                <th scope="row"></th>
                <th scope="row">TOTAL</th>
                <th scope="row">-</th>
                @if(policy.credit_insurance?.is_refinancing){
                <th scope="row">{{policy.credit_insurance?.ongoing_amount | number}} </th>
                <th scope="row">{{policy.credit_insurance?.credit_amount - policy.credit_insurance?.ongoing_amount | number}} </th>
                }
                <th scope="row">{{policy.credit_insurance?.credit_amount | number}} </th>
                <th scope="row">-</th>
                <th scope="row">{{policy.credit_insurance?.total_premium | number}}</th>

                <th scope="row">{{policy.credit_insurance?.total_frais_gestion | number}} </th>
                <th scope="row">{{policy.credit_insurance?.total_frais_controle | number}} </th>
                <th scope="row">{{policy.credit_insurance?.total_frais_faps | number}} </th>
                <th scope="row">{{policy.credit_insurance?.total_frais_dev_secteur | number}} </th>
                <th scope="row">{{policy.credit_insurance?.total_frais_digitalisation | number}} </th>
                <th scope="row">{{policy.credit_insurance?.total_frais_formation | number}} </th>
                <th scope="row">{{policy.credit_insurance?.total_prime_nette | number}} </th>
                <th scope="row">{{policy.credit_insurance?.total_commission | number}} </th>
                <th scope="row">{{policy.credit_insurance?.total_prime_pure | number}} </th>




            </tr>
        </tbody>
    </table>
            <div class="my-2 d-flex">
                <b class="me-2">N.B: </b>
                <b>Bénéficiaire en cas de survenance du risque assuré : {{policy.beneficiaire}}</b>
            </div>
            <div class="text-center my-2">
                <p>Fait le <strong>{{policy.created_at | date:'dd/MM/yyyy, h:mm a'}}</strong> par <strong> {{policy.operator?.full_name}} </strong></p>
              </div>
              <div class="d-flex mt-4 justify-content-between align-items-start">
                <div class="d-grid align-items-center text-center w-33">
                    @if(policy.credit_insurance?.is_group){
                        <span>PRENEUR D'ASSURANCE</span>
                        <b class="mb-5">{{policy.credit_insurance?.members[0].full_name}}</b>
                        <b>{{policy.credit_insurance?.members[1].full_name}}</b>
                    }@else{
                        <span>PRENEUR D'ASSURANCE</span>
                        <b>{{policy.credit_insurance?.members[0].full_name}}</b>
                    }
                </div>
                <div class="d-grid align-items-center text-center w-33">
                    @if(policy.agency.group=='CRDB'){
                    <span>BANQUE/BENEFICIAIRE</span>


                    }@else {
                        <span>BENERFICIAIRE</span>
                    }
                    <b>{{policy.agency?.name}}</b>
                </div>
                <div class="d-grid align-items-center text-center w-33">
                    <span>Approuvé par </span>
                    <b>{{policy.company?.name}}</b>
<div class="qr-code-container">
    <qr-code
    value="{{
        '\nNuméro de police: ' + policy.policy_number + 
        '\nPreneur d\'assurance: ' + policy.credit_insurance?.members[0].full_name +
        '\nDate: ' + (policy.issue_date | date:'dd/MM/yyyy') +
        '\nValidité: ' + (policy.expiration_date | date:'dd/MM/yyyy')+
        '\nBENEFICIAIRE :' + policy.agency?.name + 

        '\nCompagnie d\'assurance: ' + (policy.company?.name) 
}}"
size="120"
/>
<!--

-->

                                </div>

                </div>
            </div>
            @if(policy.agency.group =='CRDB'){
                                                            <div class="mt-1 d-flex align-items-center">
    <span>Bancassurance : </span>
    <b>{{policy.agency?.name}}</b>
</div>

            }

        </div>
    </div>
    <!-- Main Content -->