<div class="contract-wrapper p-3">
    <div class="d-flex mb-2 justify-content-between">
        <div class="d-grid">
        <img style="width:100px" src="{{policy.company?.logo}}">

            <small style="font-style: italic;" class=" fs-6 text-dark d-grid">
                <small>Plus qu'un assureur,</small>
                <small>Un partenaire,</small>
                <small>Un accompagnateur.</small>
                  
            </small>
        </div>
        <div class="d-grid ms-3 align-items-center">
            <b class="fs-4 text-main text-center">UCAR VIE ET CAPITALISATION S.A</b>
            <b class="text-center">CAPITAL SOCIAL : 2.000.000.000 BIF</b>
            <b class="text-center">ENTREPRISE RÉGIE PAR LE CODE DES ASSURANCES DU BURUNDI</b>
            <b class="text-center">SIÈGE SOCIAL : ROHERO I, AV DE LA JRR No 16</b>
            <b class="text-center">TÉL : +257 22280069</b>
        </div>
        <img style="width:100px" src="{{policy.agency?.logo}}">

    </div>
    <!-- Header -->
    <div class="my-2 grey-bg">
        <div class="d-grid">
            <div class="d-flex mb-2">
                <span>Couvertures :</span>
                <div class="d-grid">
                    <span>1. Décès</span>
                    <span>2. Invalidité totale permanente</span>
                    @if(policy.credit_insurance?.coverage=="job_loss"){
                        <span>3. Perte d'emploi involontaire</span>
                    }
                </div>
            </div>
            <div class="d-flex mb-2">
                <span class="me-3">Date d'effet :</span>
                <span>Date d'octroi du crédit</span>
            </div>
        </div>
    </div>
    <div>
        <h3 class="text-center header-title">
            <b>ASSURANCE PROTECTION CRÉDIT/SOLDE RESTANT DÛ</b>
        </h3>
        <h2 class="text-center">CONDITIONS PARTICULIÈRES</h2>
        <h2 class="text-center border-bottom border-dark">Nom du groupe : @if(policy.credit_insurance?.is_group){ {{policy.credit_insurance?.raison_sociale}} }@else{ {{policy.credit_insurance?.members[0].full_name}} }</h2>
        <div class="d-grid">
            <table class="table my-2 table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom & prénom</th>
                        <th scope="col">Âge</th>
                        @if(policy.credit_insurance?.is_refinancing){
                        <th scope="col">Montant en cours</th>
                        <th scope="col">Montant de refinancement</th>
                        }
                        <th scope="col">Montant de crédit</th>
                        <th scope="col">Durée de remboursement</th>
                        <th scope="col">Prime totale</th>
                    </tr>
                </thead>
                <tbody>
                    @for(member of policy.credit_insurance?.members; track member; let i=$index){
                    <tr>
                        <th scope="row">{{i+1}}</th>
                        <td>{{member.full_name}}</td>
                        <td>{{member.age}}</td>
                        @if(policy.credit_insurance?.is_refinancing){
                        <td scope="col">{{member.ongoing_amount | number}} FBU</td>
                        <td scope="col">{{member.credit_amount | number}} FBU</td>
                        }
                        <td scope="col">{{member.total_credit | number}} FBU</td>
                        <td scope="col">{{member.number_of_installments}}</td>
                        <td scope="col">{{member.member_prime | number}} FBU</td>
                    </tr>
                    }
    
                    <tr>
                        <th scope="row"></th>
                        <th scope="row">TOTAL</th>
                        <th scope="row">-</th>
                        @if(policy.credit_insurance?.is_refinancing){
                        <th scope="row">{{policy.credit_insurance?.ongoing_amount | number}} FBU</th>
                        <th scope="row">{{policy.credit_insurance?.credit_amount - policy.credit_insurance?.ongoing_amount | number}} FBU</th>
                        }
                        <th scope="row">{{policy.credit_insurance?.credit_amount | number}} FBU</th>
                        <th scope="row">-</th>
                        <th scope="row">{{policy.credit_insurance?.total_premium | number}} FBU</th>
                    </tr>
                </tbody>
            </table>
            <div class="my-2 d-flex">
                <b class="me-2">N.B: </b>
                <b>Bénéficiaire en cas de survenance du risque assuré : {{policy.beneficiaire}}</b>
            </div>
            <div class="text-center my-2">
                <p>Fait à Bujumbura, le <strong>{{policy.created_at | date:'dd/MM/yyyy, h:mm a'}}</strong> par <strong> {{policy.operator?.full_name}} </strong></p>
              </div>
            <div class="d-flex mt-4 justify-content-between align-items-start">

                <div class="d-grid align-items-center text-center">
                    @if(policy.credit_insurance?.is_group){
                        <span>REPRÉSENTANT DU GROUPE 1</span>
                        <b>{{policy.credit_insurance?.members[0].full_name}}</b>
                        <span class="mt-4">REPRÉSENTANT DU GROUPE 2</span>
                        <b>{{policy.credit_insurance?.members[1].full_name}}</b>
                    }@else{
                        <span>Preneur d'assurance</span>
                        <b>{{policy.credit_insurance?.members[0].full_name}}</b>
                    }
                </div>
                <div class="d-grid align-items-center text-center">
                    <span>Banque/Beneficiaire</span>
                    <b>{{policy.agency?.name}}</b>
                </div>
                <div class="d-grid align-items-center text-center">
                    <span>Compagnie d'assurance</span>
                    <b>{{policy.company?.name}}</b>
                    <div class="d-flex align-items-center justify-content-center">
                        <img style="width: 220px; height:140px; " src="../../../../../assets/images/signature-dc.webp" alt="Signature dc">

                        <img style="width: 200px; height:250px" src="../../../../../assets/images/cachet-ucar.webp" alt="Cachet">
                        <img style="width: 160px; height:80px; " src="../../../../../assets/images/signature-dg.webp" alt="Signature dg">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content -->