<form [formGroup]="insuranceForm">
  <div class="row">
    <!-- Depart -->
    <div class="col-md-6 mb-3">
      <div class="form-floating">
        <input type="text" class="form-control" formControlName="depart" placeholder="Depart">
        <label>Départ</label>
      </div>
    </div>

    <!-- Arrivee -->
    <div class="col-md-6 mb-3">
      <div class="form-floating">
        <input type="text" class="form-control" formControlName="arrivee" placeholder="Arrivée">
        <label>Arrivée</label>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Nature de la marchandise -->

    <div class="col-md-6 mb-3">
      <div class="form-floating">
        <select class="form-control" formControlName="description">
          <option value="" disabled selected>Choisir la description des marchandises</option>
          <option *ngFor="let nature of natures" [value]="nature">{{ nature }}</option>
        </select>
        <label></label>
      </div>
    </div>

    <!-- Description -->
    <div class="col-md-6 mb-3">
      <div class="form-floating">
        <input type="text" class="form-control" formControlName="nature_marchandise" placeholder="Nature marchandise">
        <label>Nature des marchandises</label>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Nature de l'emballage -->


    <div class="col-md-6 mb-3">
      <div class="form-floating">
        <select class="form-control" formControlName="packaging">
          <option *ngFor="let packaging of packaging" [value]="packaging">{{ packaging }}</option>
        </select>
        <label>Packaging status</label>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="form-floating">
        <select class="form-control" formControlName="transport_type">
          <option *ngFor="let mode of transportModes" [value]="mode">{{ mode }}</option>
        </select>
        <label>Mode de transport</label>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="form-floating">
        <select class="form-control" formControlName="descriptif_marchandise">
          <option *ngFor="let descriptif of descriptifs" [value]="descriptif">{{ descriptif }}</option>
        </select>
        <label>Descriptif Marchandise</label>
      </div>
    </div>
    <!-- Quantité -->

  </div>
  <div class="row">
    <!-- Nature de l'emballage -->


    <div class="col-md-6 mb-3">
      <div class="form-floating">
        <select class="form-control" formControlName="nature_emballage">
          <option value="" disabled selected>Choisir la nature emballage</option>
          <option *ngFor="let emballage of emballages" [value]="emballage">{{ emballage }}</option>
        </select>
        <label>Nature d emballage</label>
      </div>
    </div>

    <!-- Quantité -->
    <div class="col-md-6 mb-3">
      <div class="form-floating">
        <input type="number" class="form-control" formControlName="quantity" placeholder="Quantité">
        <label>Quantité</label>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Numéro de colis -->
    <div class="col-md-6 mb-3">
      <div class="form-floating">
        <input type="text" class="form-control" formControlName="colis_number" placeholder="Numéro de colis">
        <label>Nombre de colis</label>
      </div>
    </div>

    <!-- Référence -->
    <div class="col-md-6 mb-3">
      <div class="form-floating">
        <input type="text" class="form-control" formControlName="reference" placeholder="Référence">
        <label>Référence</label>
      </div>
    </div>
  </div>

</form>
