<main>
  <div>
    <div>
      <router-outlet></router-outlet>    
    </div>
  </div>
</main>

    <!-- Tariff Modal -->
    <div class="modal fade" id="tarifModal" tabindex="-1" aria-labelledby="tarifModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="tarifModalLabel">ANNEXE 2 : TARIFS ET COMMISSION</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="max-height:70vh; overflow-y:auto;">
            <ol>
              <li>
                Les limites au-delà desquelles la Banque devra demander l'avis de l'Assureur pour la souscription sont :
                <ul>
                  <li>Capital assuré supérieur à 100 000 000 millions Fbu par individu</li>
                  <li>Âge de l'assuré à l'échéance supérieur à 60 ans</li>
                  <li>Durée du crédit supérieur à 180 mensualités</li>
                </ul>
              </li>
              <li>
                <b>Le Calcul de la prime à payer :</b> La prime à payer est égale au montant du crédit octroyé multiplié par le taux de prime. <br>
                <i>Les taux de prime en % sont indiqués en bas</i>.
              </li>
            </ol>
            <div class="mb-3">
              <b>A. Garanties couvertes : Décès, Invalidité Physique Permanente</b>
              <div class="table-responsive">
                <table class="table table-bordered table-sm align-middle text-center">
                  <thead class="table-light">
                    <tr>
                      <th>Durée de Remboursement</th>
                      <th>Taux de primes (%)</th>
                      <th>Commissions de la Banque 22% de la Prime nette</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr><td>6 mensualités</td><td>0,6</td><td>-</td></tr>
                    <tr><td>12 mensualités</td><td>0,65</td><td>-</td></tr>
                    <tr><td>24 mensualités</td><td>1,22</td><td>-</td></tr>
                    <tr><td>36 mensualités</td><td>1,68</td><td>-</td></tr>
                    <tr><td>48 mensualités</td><td>2,09</td><td>-</td></tr>
                    <tr><td>60 mensualités</td><td>2,65</td><td>-</td></tr>
                    <tr><td>72 mensualités</td><td>3</td><td>-</td></tr>
                    <tr><td>84 mensualités</td><td>3,2</td><td>-</td></tr>
                    <tr><td>96 mensualités</td><td>3,75</td><td>-</td></tr>
                    <tr><td>108 mensualités</td><td>4,5</td><td>-</td></tr>
                    <tr><td>120 mensualités</td><td>4,9</td><td>-</td></tr>
                    <tr><td>132 mensualités</td><td>5,13</td><td>-</td></tr>
                    <tr><td>144 mensualités</td><td>5,16</td><td>-</td></tr>
                    <tr><td>156 mensualités</td><td>5,56</td><td>-</td></tr>
                    <tr><td>180 mensualités</td><td>5,94</td><td>-</td></tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="mb-3">
              <b>B. Les tarifs incluant la perte d'emploi involontaire deviennent :</b>
              <div class="table-responsive">
                <table class="table table-bordered table-sm align-middle text-center">
                  <thead class="table-light">
                    <tr>
                      <th>Durée de Remboursement</th>
                      <th>Taux de prime (%)</th>
                      <th>Commissions de la Banque 22% de la Prime nette</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr><td>6 mensualités</td><td>0,745</td><td>-</td></tr>
                    <tr><td>12 mensualités</td><td>1,412</td><td>-</td></tr>
                    <tr><td>24 mensualités</td><td>2,103</td><td>-</td></tr>
                    <tr><td>36 mensualités</td><td>2,611</td><td>-</td></tr>
                    <tr><td>48 mensualités</td><td>3,164</td><td>-</td></tr>
                    <tr><td>60 mensualités</td><td>3,673</td><td>-</td></tr>
                    <tr><td>72 mensualités</td><td>4,167</td><td>-</td></tr>
                    <tr><td>84 mensualités</td><td>4,642</td><td>-</td></tr>
                    <tr><td>96 mensualités</td><td>5,169</td><td>-</td></tr>
                    <tr><td>108 mensualités</td><td>5,713</td><td>-</td></tr>
                    <tr><td>120 mensualités</td><td>5,955</td><td>-</td></tr>
                    <tr><td>132 mensualités</td><td>6,21</td><td>-</td></tr>
                    <tr><td>144 mensualités</td><td>6,453</td><td>-</td></tr>
                    <tr><td>156 mensualités</td><td>6,78</td><td>-</td></tr>
                    <tr><td>180 mensualités</td><td>6,995</td><td>-</td></tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="alert alert-info mt-2">
              <b>NB :</b> Concernant les crédits agricoles octroyés aux membres des coopératives pour une durée de remboursement allant d'un mois à 24 mensualités, le taux applicable est de 0.5%.
            </div>
          </div>
        </div>
      </div>
    </div>