<aside class="sidebar bg-primary-2">
    <div class="d-flex flex-column justify-content-between h-100">
        <!-- Section 1 -->
        @if(menus){
          <div class="section-1">
            <div *ngFor="let menu of menus" class="menu-container">
              <!-- Main Menu Item -->
              <div 
                class="sidebar-item d-flex align-items-center p-2 text-white justify-content-between"
                (click)="menu.menus.length ? toggleMenu(menu.name) : null"
                [class.bg-main]="activeMenu === menu.name"
              >
                <div class="d-flex align-items-center">
                  <!-- <b class="me-2">
                    <i [class]="menu.icon"></i>
                  </b> -->
                  <b>{{ menu.name }}</b>
                </div>
                <i *ngIf="menu.menus.length" class="fa" [ngClass]="{'fa-chevron-down': activeMenu === menu.title, 'fa-chevron-right': activeMenu !== menu.title}"></i>
              </div>
          
              <!-- Submenu Items -->
              <div *ngIf="activeMenu === menu.name" class="submenu bg-white-1">
                <div 
                  *ngFor="let subMenu of menu.menus" 
                  class=" p-2"
                  [routerLink]="subMenu.url" 
                  role="button"
                  routerLinkActive="text-main"
                >
                  {{ subMenu.name }}
                </div>
              </div>
            </div>
          </div>
        }
          

        <!-- Section 2 -->
        <div class="section-2 px-2">
            <div
             class="border mb-2 border-danger rounded p-2 text-danger d-flex justify-content-between"
             (click)="logout()"              
             role="button"
             >
                <b>Logout</b>
                <i class="fa fa-sign-out"></i>
            </div>

            <div class="d-flex w-100small text-white justify-content-center d-flex">
                <small>Version : </small>
                <small>1.0.0</small>
            </div>
        </div>
    </div>
</aside>
