<div class="container mt-4">
  <div class="my-3">
    <div class="w-100 d-flex justify-content-center">
        <h3>
            <b>Changement de mot de passe </b>
        </h3>
    </div>
</div>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="">
    
    <!-- Old Password -->
    <div class="form-floating mb-3">
      <input [type]="showPassword() ? 'text' : 'password'" class="form-control" id="oldPassword" formControlName="old_password" required>
      <label for="oldPassword"><i class="fas fa-lock"></i> Ancien mot de passe</label>
    </div>

    <!-- New Password -->
    <div class="form-floating mb-3 position-relative">
      <input [type]="showPassword() ? 'text' : 'password'" class="form-control" id="newPassword" formControlName="new_password" (input)="validatePassword()">
      <label for="newPassword"><i class="fas fa-key"></i> Nouveau mot de passe</label>
      <button type="button" class="btn btn-outline-secondary position-absolute top-50 end-0 translate-middle-y me-2" (click)="toggleShowPassword()">
        <i [class]="showPassword() ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
      </button>
    </div>

    <!-- Password Requirements -->
    <ul class="list-unstyled small">
      <li [class]="passwordValidations.hasUpperCase?'text-success':''"><i class="fas fa-check-circle"></i> Une majuscule</li>
      <li [class]="passwordValidations.hasLowerCase?'text-success':''"><i class="fas fa-check-circle"></i> Une minuscule</li>
      <li [class]="passwordValidations.hasNumber?'text-success':''"><i class="fas fa-check-circle"></i> Un chiffre</li>
      <li [class]="passwordValidations.hasSpecialChar?'text-success':''"><i class="fas fa-check-circle"></i> Un caractère spécial</li>
      <li [class]="passwordValidations.hasMinLength?'text-success':''"><i class="fas fa-check-circle"></i> 8 caractères minimum</li>
    </ul>

    <!-- Confirm Password -->
    <div class="form-floating mb-3">
      <input [type]="showPassword() ? 'text' : 'password'" class="form-control" id="confirmPassword" formControlName="confirm_new_password">
      <label for="confirmPassword"><i class="fas fa-lock"></i> Confirmer le mot de passe</label>
    </div>

    <!-- Error Message -->
    <p *ngIf="passwordForm.hasError('passwordMismatch')" class="text-danger small">
      <i class="fas fa-exclamation-circle"></i> Les mots de passe ne correspondent pas.
    </p>

    <!-- Submit Button -->


    <button type="submit" class="p-2 rounded text-white bg-main" [disabled]="passwordForm.invalid">
      @if(!isLoading){
        <i class="fas fa-sync-alt"></i> Changer le mot de passe
      } 
      @else{
        <span>
          <i class="fas fa-spinner fa-spin"></i> 
        </span>
      }
    </button>
  
  </form>
</div>
