table {
    width: 100%;
  }

  .hover-table:hover{
    background-color: rgb(222, 232, 241);
    cursor: pointer;
  }


  .clickable {
    cursor: pointer;
    transition: background 0.3s;
  }
  .clickable:hover {
    background: rgba(0, 0, 0, 0.05);
  }
  