@if(data){
  <div class="mat-elevation-z8 overflow-x-auto">
    <div class="d-flex align-items-center justify-content-between w-100 p-3">
      <mat-card-title class="fs-3">{{ title }}</mat-card-title>
      <button type="button" class="bg-main p-2 rounded text-white d-flex align-items-center" (click)="exportToExcel()">
        <i class="fa fa-file-excel me-2"></i>
        <b>Generer le rapport</b>
      </button>
    </div>
  
    @if(showFilters){
      <form [formGroup]="filterForm" (ngSubmit)="getData()" class="filters d-flex p-3 gap-3">
        <mat-form-field>
          <mat-label>Filtrer par agence</mat-label>
          <mat-select name="agency" (selectionChange)="selectAgency($event.value); getData()" formControlName="agency">
            <mat-option value="">Toutes les agences</mat-option>
            @for (agency of agencies; track agency) {
              <mat-option [value]="agency.id">{{agency.name}} - {{agency.sub_agency}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>From Date</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="fromDate">
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>To Date</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="toDate">
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="search-input">
          <mat-label>Rechercher le client, plaque ou chasis</mat-label>
          <input matInput formControlName="searchQuery">
        </mat-form-field>
    
        <button mat-raised-button color="primary" type="submit">Rechercher</button>
      </form>
    }
    
    @if(isLoading){
      <div style="transition: all 2s; z-index:2" class="d-flex align-items-center justify-content-center">
        <span class="p-5 bg-white rounded">
          <mat-spinner></mat-spinner>
        </span>
      </div>
    } @else {
      <table mat-table [dataSource]="dataSource">
        <!-- Regular columns -->
        @for (column of columns; track column) {
          <ng-container [matColumnDef]="column.columnDef">
            <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
            <td mat-cell *matCellDef="let element">{{ element | getNestedValue: column.columnDef }}</td>
          </ng-container>
        }

        <!-- Actions column -->
        @if (actions && actions.length > 0) {
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex gap-2">
                @for (action of actions; track action) {
                  <button mat-button [matTooltip]="action.tooltip" data-bs-toggle="modal" data-bs-target="#actionModal" class="btn bg-main text-white" (click)="selectAction(element, action); $event.stopPropagation()">
                    <b>{{action.label}}</b>
                  </button>
                }
              </div>
            </td>
          </ng-container>
        }
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
            (click)="onRowClick(row)" 
            [class.clickable]="isRowClickable(row)"
            [class.cancelled-row]="getNestedValue(row, 'status') === 'cancelled' || getNestedValue(row, 'bill.status') === 'cancelled'">
        </tr>
      </table>
    }
    
    <mat-paginator *ngIf="enablePagination" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
} @else {
  <div style="transition: all 2s; z-index:2" class="d-flex align-items-center justify-content-center">
    <span class="p-5 bg-white rounded">
      <mat-spinner></mat-spinner>
    </span>
  </div>
}




<section>
  <div class="modal fade" id="actionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content p-3">
        <div
    class="bg-white rounded d-grid px-4 py-2 mx-1 h-auto overflow-y-auto "
>
<div
>
      
<div class="d-grid">
  <div class="mb-3">
    <b>Vouliez-vous vraiment passer cette action si importante ? </b>
  </div>
  <div class="d-flex mt-4 mb-1 justify-content-center">
    <button 
      type="button" 
      data-bs-toggle="modal" 
      data-bs-target="#deleteModal"
      class="btn bg-transparent me-3 py-2 border border-dark text-dark rounded w-50" 
      >Annuler</button>

    <button 
      type="submit" 
      (click)="handleAction()"
      data-bs-toggle="modal" 
      data-bs-target="#deleteModal"
      class="btn text-white bg-main w-50 ms-3 py-2" 
>
<b >Soumettre</b>

<!-- @if(isLoading){
  <small  class="spinner-border fs-xs"></small>


  } -->

    </button>
  </div>
</div>
</div>





</div>
      </div>
    </div>
  </div>
</section>


@if(isActionLoading){
  <div
style="transition: all 2s; z-index:2"
class="modal-overlay d-grid align-items-center justify-content-center"
>
<span class="p-5 bg-white rounded">
<mat-spinner></mat-spinner></span>
</div>
}
