@if(data){
  <div class="mat-elevation-z8 overflow-x-auto">
    <div class="d-flex align-items-center justify-content-between w-100 p-3">
      <mat-card-title class="fs-3">{{ title }}</mat-card-title>
      <button type="button" class="bg-main p-2 rounded text-white d-flex align-items-center" (click)="exportToExcel()">
        <i class="fa fa-file-excel me-2"></i>
        <b>Generer le rapport</b>
      </button>
    </div>
  
    @if(showFilters){
      <form [formGroup]="filterForm" (ngSubmit)="getData()" class="filters d-flex p-3 gap-3">
        <mat-form-field appearance="outline">
          <mat-label>From Date</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="fromDate">
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>To Date</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="toDate">
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="search-input">
          <mat-label>Search</mat-label>
          <input matInput formControlName="searchQuery">
        </mat-form-field>
    
        <button mat-raised-button color="primary" type="submit">Apply</button>
      </form>
    
    }
    @if(isLoading){
      <div
      style="transition: all 2s; z-index:2"
      class="d-flex align-items-center justify-content-center"
      >
      <span class="p-5 bg-white rounded">
      <mat-spinner></mat-spinner></span>
      </div>
    }@else {
      <table mat-table [dataSource]="dataSource">
        <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
          <th mat-header-cell *matHeaderCellDef> {{ column.header }} </th>
          <td mat-cell *matCellDef="let element"> {{ element | getNestedValue: column.columnDef }} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)" [class.clickable]="isRowClickable(row)">
        </tr>
      </table>
    
    }
    <mat-paginator *ngIf="enablePagination" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  </div>
}@else{
  <div
  style="transition: all 2s; z-index:2"
  class="d-flex align-items-center justify-content-center"
  >
  <span class="p-5 bg-white rounded">
  <mat-spinner></mat-spinner></span>
  </div>
}


