<div class="contract-wrapper">
    <!-- Header -->
    @if(policy?.agency?.group == "kazoza"){
      <div class="d-flex flex-column h-100">
        <div class="d-grid mb-5">
          <div class="d-grid">
            <div class="d-flex mb-2 justify-content-between">
              <div class="d-grid">
                <img style="width:100px" src="{{policy.company?.logo}}">
                <small style="font-style: italic;" class="fs-6 text-dark d-grid">
                  <small>Plus qu'un assureur,</small>
                  <small>Un partenaire,</small>
                  <small>Un accompagnateur.</small>
                </small>
              </div>
              <div class="d-grid ms-3 align-items-center">
                <b class="fs-4 text-main text-center">UCAR VIE ET CAPITALISATION S.A</b>
                <b class="text-center">CAPITAL SOCIAL : 2.000.000.000 BIF</b>
                <b class="text-center">ENTREPRISE RÉGIE PAR LE CODE DES ASSURANCES DU BURUNDI</b>
                <b class="text-center">SIÈGE SOCIAL : ROHERO I, AV DE LA JRR No 16</b>
                <b class="text-center">TÉL : +257 22280069</b>
              </div>
              <img style="width:100px" src="{{policy.agency?.logo}}">
            </div>
          </div>
        </div>
      </div>
    }@else {
      <div class="text-center header-title  border-btm" [ngClass]="{'mt-5 pt-5': policy?.agency?.group != 'kazoza'}">
        <h6 class="mb-0 mt-4"><b>@if(policy.is_demo){PROPOSITION}@else {CONTRAT} D'ASSURANCE DES BIENS MEUBLES ET IMMEUBLES</b></h6>
        <h6 class="mb-0"><b>CONDITIONS PARTICULIERES INCENDIE & R.CONNEXES</b></h6>
      </div>
    }
  
    <!-- Main Content -->
    <div class="">
      <!-- Top Info -->
      <div class="row ">
        <div class="col-3">DATE OPERATION :</div>
        <div class="col-3 fw-bold">{{policy.issue_date | date:'dd/MM/yyyy'}}</div>
        <div class="col-3">COURTIER/AGENCE :</div>
        <div class="col-3 fw-bold">{{policy?.agency.name}}</div>
      </div>
  
      <div class="row ">
        <div class="col-3">REDACTEUR :</div>
        <div class="col-3 fw-bold">{{policy.operator?.full_name}}</div>
        <div class="col-3">AVENANT N° :</div>
        <div class="col-3 fw-bold">00000</div>
      </div>
  
      <div class="row ">
        <div class="col-3">NUMERO POLICE :</div>
        <div class="col-9 fw-bold">{{policy.policy_number}}</div>
      </div>
  
      <div class="row border-btm">
        <div class="col-3">DATE D'EFFET :</div>
        <div class="col-3 fw-bold">{{policy.issue_date | date:'dd/MM/yyyy'}}</div>
        <div class="col-3">DATE D'ECHEANCE :</div>
        <div class="col-3 fw-bold">{{policy.expiration_date | date:'dd/MM/yyyy'}}</div>
        <!-- <div class="col-1 fw-bold">{{policy.custom_days | date:'dd/MM/yyyy'}}</div> -->

      </div>
      <!-- Subscriber Info -->
      <div class="row ">
        <div class="col-3">SOUSCRIPTEUR :</div>
        <div class="col-3 fw-bold">000{{policy.client?.id}} - {{policy.client?.user_full_name}}</div>
        <div class="col-3">B.P :</div>
        <div class="col-3"> {{policy.client?.user_province}}</div>


      </div>
  

  
      <div class="row border-btm">

        <div class="col-3">COMMUNE :</div>
        <div class="col-3 fw-bold">{{policy.client.user_commune}}</div>
        <div class="col-3">TELEPHONE :</div>
        <div class="col-3 fw-bold">{{policy.client?.user_phone_number}}</div>
        <div class="col-3">ZONE :</div>
        <div class="col-3 fw-bold">{{policy.client?.user_zone}}</div>
        <div class="col-3">QUARTIER :</div>
        <div class="col-3 fw-bold">{{policy.client?.user_quartier}}</div>
      </div>
  
      <!-- Risk Description -->
      <div class="section-header fw-bold ">I* Description du risque assuré et son contenu</div>

      
  
      <div class="row ">
        <div class="col-5">Nature et localisation du risque :</div>
        <div class="col-6 fw-bold">{{policy.assured_goods[0]?.name}}</div>
      </div>
  
      <div class="row ">
        <div class="col-3">Quartier/AV./Rue/ n° :</div>
        <div class="col-3 fw-bold">{{policy.fire_insurance.quartier}}</div>
        <div class="col-3">Ville/Prov :</div>
        <div class="col-3 fw-bold">{{policy.fire_insurance.province}}</div>
      </div>
  
      <div class="row border-btm">

        <div class="col-3">N° Titre Foncier :</div>
        <div class="col-3 fw-bold">{{policy.fire_insurance.titre}}</div>
        <div class="col-3">N° Cadastre :</div>
        <div class="col-3 fw-bold">{{policy.fire_insurance.cadastre}}</div>
      </div>

      <!-- <div class="section-header fw-bold border-bottom mb-1">II* Valeurs des biens assurés :</div>
      <div class="my-1 row" *ngFor="let goods of policy.assured_goods">
        <div class="col-5">{{ goods.name }}</div>
        <div class="col-5 fw-bold">{{ goods.assured_capital }}</div>
      </div> -->
  
      <!-- Premium Summary -->
      <div class="premium-summary">
        <div class="header-row row">
          <div class="col-3" style="font-size:10px">BIENS A ASSURER</div>
          <div class="col-4" style="font-size:10px">DETAILS/GARANTIES</div>
          <div class="col-2 text-end" style="font-size:10px">CAPITAUX(Fbu)</div>
          <div class="col-3 text-end" style="font-size:10px">PRIME NETTE(Fbu)</div>
        </div>
      
        <div class="data-row" *ngFor="let goods of policy.assured_goods">
          <div class="col-3">*{{ goods.name }}</div>
          <div class="col-4"></div>
          <div class="col-2 text-end">{{goods.assured_capital | number}}</div>
          <div class="col-3 text-end"></div>
        </div>
      
        <div class="border-btm">
          <div *ngFor="let guarantee of policy.guarantees" class="row ">
            <div class="col-3"></div>
            <div class="col-4">{{guarantee.name}}</div>
            <div class="col-2 text-end">{{guarantee.assured_capital | number}}</div>
            <div class="col-3 text-end">{{guarantee.prime | number}}</div>
          </div>
        </div>
      
        <!-- <div class="total-row">
          <div class="col-8 text-end"><strong>Totaux:</strong></div>
          <div class="col-2 text-end"><strong>{{policy.fire_insurance?.default_assured_capital | number}}</strong></div>
          <div class="col-2 text-end"><strong>{{policy.prime_base | number}}</strong></div>
        </div> -->
      </div>
      
      <!-- Premium Summary -->
      <div class="d-flex justify-content-end">
        <table class="table table-sm summary-table">
          <tr>
            <td>PRIME NETTE</td>
            <td>:</td>
            <td class="text-end">{{policy.prime_base | number}}</td>
          </tr>
          <tr>
            <td>FRAIS</td>
            <td>:</td>
            <td class="text-end">{{policy.frais | number}}</td>
          </tr>
          <tr>
            <td>PRIME EMISE</td>
            <td>:</td>
            <td class="text-end">{{policy.prime_nette | number}}</td>
          </tr>
          <tr>
            <td>C.DIVERS</td>
            <td>:</td>
            <td class="text-end">{{policy.charges_diverses | number}}</td>
          </tr>
          <tr>
            <td>C. ARCA</td>
            <td>:</td>
            <td class="text-end">{{policy.charges_arca | number}}</td>
          </tr>
          <!-- <tr>
            <td>P.T AVANT TVA</td>
            <td>:</td>
            <td class="text-end">{{policy.prime_avant_tva | number}} </td>
          </tr> -->
          <tr>
            <td>TVA</td>
            <td>:</td>
            <td class="text-end">{{policy.tva | number}}</td>
          </tr>
          <tr class="border-btm border-dark">
            <td><strong>PRIME TVAC</strong></td>
            <td>:</td>
            <td class="text-end"><strong>{{policy.premium_amount | number}}</strong></td>
          </tr>
        </table>
      </div>
      

<!-- Footer Content -->
<div class="my-2 d-grid">
  <div class="fw-bold">Définitions :</div>
  <strong>Inondation :</strong>
  <span>- Tout débordement ou déviation des voies normales des cours d’eau naturels ou artificiels, à l’exclusion du lac Tanganyika.</span>
  <span>- Tout débit ou accumulation d’eau sur le terrain, sauf lorsque ce débit ou cette accumulation d’eau provient des points d’eau principaux, robinets, tuyaux, soupapes ou assimilés.</span>
</div>

<!-- Footer Content -->
<div class="my-2 d-grid">
  <div class="fw-bold">Exclusions :</div>
  <span>* Les exclusions dans les conditions générales sont applicables.</span>
  @if(policy.beneficiaire){
  <span>BÉNÉFICIAIRE : En cas de sinistre, les indemnités seront versées à {{policy.beneficiaire}}, qui est bénéficiaire de cette police d’assurance.</span>
  }
</div>

<div class="d-grid">
  <strong>Le preneur d’assurance déclare avoir pris connaissance des conditions générales et particulières.</strong>
  <strong>La présente fait partie intégrante de la police et sont nulles toutes adjonctions ou modifications matérielles non revêtues du visa de la direction ou du représentant autorisé de la compagnie.</strong>
</div>

  
      <!-- <div class="fw-bold">BENEFICIAIRE :</div>
      <p>En cas de sinistre, les indemnités seront versées à la CRDB BANK BURUNDI s.a.</p>
   -->
      <div class="text-center mt-3">
        <p>Fait à Bujumbura, le <strong>{{policy.created_at | date:'dd/MM/yyyy, h:mm a'}}</strong> par <strong> {{policy.operator?.full_name}} </strong></p>
      </div>
  
      <div class="row justify-content-between signatures text-center mt-2">
        <div class="col-4 fw-bold">SOUSCRIPTEUR <br>{{policy.client?.user_full_name}}</div>
        @if(policy.beneficiaire){
          <div class="col-4 fw-bold">BENEFICIAIRE <br>{{policy.beneficiaire}}</div>

        }
        <div class="col-4 fw-bold">
          @if(policy?.agency?.is_bancassurance){
            BANCASSURANCE
          }@else {
            ASSUREUR
          }
          <br>
          @if(policy.agency?.is_affiliated){
            {{policy.company?.name}} 

          }@else{
            {{policy.agency?.name}} 

          }
         </div>      </div>
    </div>
  </div>