<div class="contract-wrapper">
    <!-- Header -->
    <div class="text-center header-title mt-5 pt-5 ">
      <h4 class="mb-0 mt-4"><b>CONTRAT D'ASSURANCE Automobile No {{ policy.policy_number}}  </b></h4>
    </div>
  
    <!-- Main Content -->
    <div class="">
      <!-- Top Info -->
        <div class="">
            <div class="bg-light">
                <p>Pour une duree de {{policy.period_in_days}} jours a dater du {{policy.issue_date | date:'dd/MM/yyyy'}} jusqu au {{policy.expiration_date| date:'dd/MM/yyyy'}} </p>
                <p>Le contrat d assurance comprend les presentes conditons particulieres ainsi que les conditions generales</p>
            </div>
            <div class="row ">
                <div class="col-3">INTERMEDIAIRE :</div>
                <div class="col-3 fw-bold">{{policy.operator?.agency_name}}</div>
                <div class="col-3">OPERATEUR :</div>
                <div class="col-3 fw-bold">{{policy.operator?.full_name}}</div>
           
              </div>
          
              <div class="row ">
                <div class="col-3">ASSURE :</div>
                <div class="col-3 fw-bold">00{{policy.client?.id}} - {{policy.client?.user_full_name}}</div>
        
              </div>
              <div class="row mb-2">
                <div class="col-3">BP :</div>
                <div class="col-8 fw-bold">{{policy.client?.user_province}}</div>
                <div class="col-3">COMMUNE :</div>
                <div class="col-8 fw-bold">{{policy.client?.user_commune}}</div>
                <div class="col-3">SECTEUR :</div>
                <div class="col-3 fw-bold">{{policy.client?.user_sector}}</div>
              </div>
              <div class="row mb-2">
                <div class="col-3">Limites territoriales :</div>
                <div class="col-3 fw-bold">{{policy.auto_insurance?.limites_territoriales}}</div>
                <div class="col-3">Usage :</div>
                <div class="col-3 fw-bold">{{policy.auto_insurance?.usage}}</div>
                <div class="col-3">Marque et type :</div>
                <div class="col-3 fw-bold">{{policy.auto_insurance?.marque}} - {{policy.auto_insurance?.modele}}</div>
                <div class="col-3">Chassis :</div>
                <div class="col-3 fw-bold">{{policy.auto_insurance?.chasis}}</div>
                <div class="col-3">Classe de veh :</div>
                <div class="col-3 fw-bold">{{policy.auto_insurance?.classe}}</div>
                <div class="col-3">Annee de construction :</div>
                <div class="col-3 fw-bold">{{policy.auto_insurance?.annee_fabrication}}</div>
                <div class="col-3">Plaque :</div>
                <div class="col-3 fw-bold">{{policy.auto_insurance?.plaque}}</div>
                <div class="col-3">Places :</div>
                <div class="col-3 fw-bold">{{policy.auto_insurance?.places_cabine}}</div>
                <div class="col-3">Puissance :</div>
                <div class="col-3 fw-bold">{{policy.auto_insurance?.puissance_moteur}}</div>
                <div class="col-3">Valeur vehicule :</div>
                <div class="col-3 fw-bold">{{policy.assured_capital_bif}}</div>
                
              </div>

        <div class="d-flex justify-content-center">
            <div class="w-75 d-grid">
                        
              <table class="table rounded table-bordered border border-dark">
                <tr>
                    <th>Description garanties</th>
                    <th>Prime / Garantie</th>
    
        
                </tr>
                @for(guarantee of policy.guarantees; track guarantee.id){
                    <tr>
                        <td>{{guarantee.name}} </td>
                        <td class="text-end">{{guarantee.prime}} </td>
        
        
        
                    </tr>
                }
        
              </table>
        
          
        
              
              <!-- Premium Summary -->
              <div class="d-flex justify-content-end">
                <table class="table w-75 table-sm border border-dark summary-table">
                  <tr class="border-btm">
                    <td>PRIME NETTE</td>
                    <td>:</td>
                    <td class="text-end">{{policy.prime_base | number}}</td>
                  </tr>
                  <tr>
                    <td>FRAIS</td>
                    <td>:</td>
                    <td class="text-end">{{policy.frais | number}}</td>
                  </tr>
                  <tr>
                    <td>PRIME EMISE</td>
                    <td>:</td>
                    <td class="text-end">{{policy.prime_nette | number}}</td>
                  </tr>
                  <tr>
                    <td>C.DIVERS</td>
                    <td>:</td>
                    <td class="text-end">{{policy.charges_diverses | number}}</td>
                  </tr>
                  <tr>
                    <td>C. ARCA</td>
                    <td>:</td>
                    <td class="text-end">{{policy.charges_arca | number}}</td>
                  </tr>
                  <tr>
                    <td>P.T AVANT TVA</td>
                    <td>:</td>
                    <td class="text-end">{{policy.prime_avant_tva | number}} </td>
                  </tr>
                  <tr class="border-btm ">
                    <td>TVA</td>
                    <td>:</td>
                    <td class="text-end">{{policy.tva | number}}</td>
                  </tr>
                  <tr class="border-dark">
                    <td><strong>PRIME TVAC</strong></td>
                    <td>:</td>
                    <td class="text-end"><strong>{{policy.premium_amount | number}}</strong></td>
                  </tr>
                </table>
              </div>
            </div>
        </div>
        

        
          
        
          
              
        

          
        
          

        </div>
      

  
      <!-- Footer Content -->
      <div class="mt-2">
        <div class="fw-bold">Garanties complementaires</div>
        <b>Capital deces : 1 000 000, Capital incapacite : 1 000 000</b>
      </div>

      <div class="mt-2 d-grid">
        <h2 class="d-flex w-100 justify-content-center">
            <b>CLAUSES FACULTATIVES</b>
        </h2>
        <p>Le present contrat est conclue pour une duree du {{policy.issue_date | date:'dd/MM/yyyy'}} jusqu au {{policy.expiration_date| date:'dd/MM/yyyy'}}. Une semaine avant la date d echeance, vous etes prie de passer au guichet pour recuperer la lettre d avis d echeance </p>
      </div>
  
      <!-- <div class="fw-bold">BENEFICIAIRE :</div>
      <p>En cas de sinistre, les indemnités seront versées à la CRDB BANK BURUNDI s.a.</p>
   -->
      <div class="text-center mt-3">
        <p>Fait à Bujumbura, le <strong>{{policy.issue_date | date:'dd/MM/yyyy'}} par {{policy.operator?.full_name}} </strong></p>
      </div>
  
      <div class="row justify-content-between signatures text-center mt-2">
        <div class="col-4 fw-bold">SOUSCRIPTEUR <br>{{policy.client?.user_full_name}}</div>
        <div class="col-4 fw-bold">ASSUREUR <br>
          @if(policy.operator.agency.is_affiliated){
            {{policy.company?.name}} - {{policy.operator.agency?.name}} 

          }@else{
            {{policy.operator.agency?.name}} 

          }
         </div>

      </div>
    </div>
  </div>