<div class="contract-wrapper px-2">
    <!-- Header -->
    <div class="text-center header-title mt-5 pt-5 ">
      <h2 class="mb-0 mt-4"><b>FACTURE No {{ policy.bill?.bill_code}}  du {{policy.issue_date| date:'dd/MM/yyyy' }} </b></h2>
    </div>
    <hr>
  
    <!-- Main Content -->
    <div class="">
      <!-- Top Info -->
        <div class="">
<div class="d-grid">
  <div>
    <div class="d-grid">
      <b>A. Identification du vendeur</b>
      <div class="row ms-4">
        <div class="col-3">Nom et prenom ou raison sociale :</div>
        <div class="col-3 fw-bold">
          @if(policy.operator.agency.is_affiliated){
            {{policy.company?.name}} - {{policy.operator.agency?.name}} 

          }@else{
            {{policy.operator.agency?.name}} 

          }
        </div>
        <div class="col-3">Centre fiscal :</div>
        <div class="col-3 fw-bold">DPMC</div>
        <div class="col-3">NIF :</div>
        <div class="col-3 fw-bold">{{policy.company?.registration_number}}</div>
        <div class="col-3">Secteur d activite :</div>
        <div class="col-3 fw-bold">Assurance</div>
        <div class="col-3">Registre de commerce :</div>
        <div class="col-3 fw-bold"></div>
        <div class="col-3">Forme juridique :</div>
        <div class="col-3 fw-bold">SA</div>
        <div class="col-3">B.P :</div>
        <div class="col-3 fw-bold"></div>
        <div class="col-3">Telephone :</div>
        <div class="col-3 fw-bold">+257 22 28 11 55</div>
        <div class="col-3">Commune :</div>
        <div class="col-3 fw-bold">MUKAZA</div>
        <div class="col-3">Quartier :</div>
        <div class="col-3 fw-bold">ROHERO I</div>
        <div class="col-3">Av :</div>
        <div class="col-3 fw-bold">Avenue de la JRR</div>
        <div class="col-3">Rue :</div>
        <div class="col-3 fw-bold">No 9</div>
        <div class="col-3">Assujeti a la tva :</div>
        <div class="col-3 fw-bold">
          <div class="d-flex align-items-center">
            <div class="d-flex align-items-center" >
              <span class="border border-dark pt-1 me-2">
                <i class="fa fa-xmark fs-5"></i>
              </span>
              <span>Oui</span>
            </div>
            <div class="me-2 ms-3 d-flex align-items-center" >
                            <span class="border px-2 py-1 border-dark">
              </span>
              <span>Non</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div>
    <div class="d-grid pe-3">
      <b>B. Le client</b>
      <div class="row ms-4">
        <div class="col-3">Nom et prenom ou raison sociale :</div>
        <div class="col-3 fw-bold">000{{policy.client?.id}} - {{policy.client?.user_full_name}}</div>
        <div class="col-3">NIF :</div>
        <div class="col-3 fw-bold"></div>
        <div class="col-3">Resident a  :</div>
        <div class="col-3 fw-bold">{{policy.client?.user_province}} </div>
        <div class="col-3">Assujeti a la tva :</div>
        <div class="col-3 fw-bold">
          <div class="d-flex align-items-center">
            <div class=" d-flex align-items-center justify-content-center w-100" >
            @if(!policy.assujeti_tva){
              <span class="border border-dark">
                <i class="fa fs-5 fa-xmark"></i>
              </span>
            }
            </div>
            <span class="ms-2 me-3">Oui</span>

            <div class="d-flex align-items-center justify-content-center w-100" >
            @if(policy.assujeti_tva){
              <span class="border border-dark ">
                <i class="fa fs-5 fa-xmark"></i>
              </span>
            }@else{
               <span class="border px-2 py-2 border-dark">
              </span>
            }
            </div>
            <span class="">Non</span>

          </div>
        </div>
      </div>
      <div class="my-2">
        <b>Doit pour ce qui suit :</b>
      </div>
    </div>
  </div>

</div>


              

        <div class="d-flex justify-content-center">
            <div class="w-100 d-grid">
                        
              <table class="table rounded table-bordered border border-dark">
                <thead>
                    <tr>
                        <th>Nature de l'article ou service</th>
                        <th>Quantité</th>
                        <th>PU</th>
                        <th>PV-HTVA</th>
                        <th>TVA</th>
                        <th>PV-TTC</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-left pbx-5">Assurance {{policy.category}}</td>
                        <td class="text-end pbx-5">1</td>
                        <td class="text-end pbx-5">{{policy.prime_avant_tva | number}}</td>
                        <td class="text-end pbx-5">{{policy.prime_avant_tva | number}}</td>
                        <td class="text-end pbx-5">{{policy.tva | number}}</td>
                        <td class="text-end pbx-5">{{policy.premium_amount | number}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr >
                        <td style="padding-top: 0;"><b>TOTAL</b></td>
                        <td class="text-end" style="padding-top: 0;">1</td>
                        <td class="text-end" style="padding-top: 0;">{{policy.prime_avant_tva | number}}</td>
                        <td class="text-end" style="padding-top: 0;">{{policy.prime_avant_tva | number}}</td>
                        <td class="text-end" style="padding-top: 0;">{{policy.tva | number}}</td>
                        <td class="text-end" style="padding-top: 0;">{{policy.premium_amount | number}}</td>
                    </tr>
                </tfoot>
            </table>
            <div class="row justify-content-end signatures text-center mt-2">
              <div class="col-4 fw-bold">Pour 
                @if(policy.operator.agency.is_affiliated){
                  {{policy.company?.name}} - {{policy.operator.agency?.name}} 
      
                }@else{
                  {{policy.operator.agency?.name}} 
      
                }
               </div>
      
            </div>
            
            
            
            
            
            
        
          
        
              

            </div>
        </div>
        

        
          
        
          
              
        

          
        
          

        </div>
      

  



  
      <!-- <div class="fw-bold">BENEFICIAIRE :</div>
      <p>En cas de sinistre, les indemnités seront versées à la CRDB BANK BURUNDI s.a.</p>
   -->

  

    </div>
  </div>