<main>
    <div>
      <div  class="">
        <!-- <div class="w-100 m-auto d-flex">
          <div style="background-color: #1F458E; z-index:2" class="position-fixed d-flex text-white justify-content-between align-items-center w-100">
            <img 
            src="../../../assets/images/serenity-logo.png"
            style="width:130px; height:70px"
             alt="">
             <div>
              <h4>
                <b>ATTESTATION D'ASSURANCE</b>
              </h4>
             </div>
             <div class="me-3">
              <i class="fa fs-1 fa-info-circle"></i>
             </div>
          </div>
  
        </div> -->
        <div class="my-3 d-flex justify-content-center">
          <h4>
            <b>Assurance automobile - Souscription</b>
          </h4>
        </div>

        <!-- <div id="contratPrint"  class="contrat-print mt-5 pt-5" style="margin-top: 50px;">
          <div class="contract-container " style="margin-top: 110px;">
            <div class="contract-header">AVENANT DE MODIFICATION DU CONTRAT N° 01 0012993</div>
          
            <hr>
          
            <div class="contract-section">
              <div class="d-flex align-items-center p-2 bg-sec border border-dark rounded w-100">
              <p class="w-70"><strong>INTERMÉDIAIRE :</strong> 010000-SIEGE BUJUMBURA</p>
              <p class="w-30"><strong>OPERATEUR :</strong> ELOGE</p>


              </div>
              <div class="d-grid p-2 bg-sec border border-dark rounded w-100">
                <p><strong>ASSURÉ :</strong> <span class="me-4">030504 </span>  <span>- MR BANDYATUYAGA EGIDE</span></p>
              <p><strong>COMMUNE :</strong> Bujumbura</p>
              <p><strong>SECTEUR :</strong> Bujumbura</p>
              </div>
              <div class="d-grid bg-sec border border-dark rounded w-100 p-2">
                <p><strong>LIMITES TERRITORIALES :</strong> Burundi</p>

              </div>
              
            </div>
          
            <hr>
          
            <div class="contract-section">
             
              <div class="d-flex w-100 align-items-start mb-2" >
                <div class="w-50 d-grid">
                  <div class="d-flex">
                    <span>Marque et type :</span>
                    <b class="w-50 ms-4"> 25/03/2010</b>
                  </div>
                  <div class="d-flex">
                    <span>Classe de veh :</span>
                    <b class="w-50 ms-4"> Vehicule ( 4 pass )</b>
                  </div>
                  <div class="d-flex">
                    <span>Plaque :</span>
                    <b class="w-50 ms-4"> H4564W</b>
                  </div>
                  <div class="d-flex">
                    <span>Puissance :</span>
                    <b class="w-50 ms-4"> 9</b>
                  </div>
                  
                </div>
                <div class="w-50 d-grid">
                  <div class="d-flex">
                    <span>Usage :</span>
                    <b class="w-50 ms-4"> Promenades et affaires</b>
                  </div>
                  <div class="d-flex">
                    <span>Chassis :</span>
                    <b class="w-50 ms-4"> VNZJJH76</b>
                  </div>
                  <div class="d-flex">
                    <span>Annee de construction :</span>
                    <b class="w-50 ms-4"> 2010</b>
                  </div>
                  <div class="d-flex">
                    <span>Places :</span>
                    <b class="w-50 ms-4"> 5</b>
                  </div>
                  
                </div>
              </div>
            </div>

            <div class="d-grid bg-sec border border-dark rounded w-100" >
              <div class="contract-header">RENOUVELEMENT DU CONTRAT ref no 9294293949348</div>

            </div>
            <div class="my-2 bg-sec" >
              <b>Pour une duree sakd ruea dkurawi rjfalkdjf wieru afsdjf</b>
            </div>
          
          
            <div class="contract-section">
              <table class="table table-bordered rounded">
                <thead class="table-light">
                  <tr>
                    <th>Description garanties</th>
                    <th>Prime / garantie (BIF)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Responsabilité civile (RC)</td>
                    <td>38 439</td>
                  </tr>
                  <tr>
                    <td>Occupants (OC)</td>
                    <td>11 009</td>
                  </tr>
                  <tr>
                    <td><strong>Total</strong></td>
                    <td><strong>49 448</strong></td>
                  </tr>
                  <tr>
                    <td>Frais</td>
                    <td>49 448</td>
                  </tr>
                  <tr>
                    <td>Charge diverse</td>
                    <td>9 791</td>
                  </tr>
                  <tr>
                    <td><strong>Prime totale</strong></td>
                    <td><strong>64 184</strong></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div>
              <small>Garantie complementaire</small><br>
              <span>Capital deces : 1,000,0000 BIF , Capital incapacite : 1,000,0000 BIF</span>
            </div>
          
            <hr>
          
            <div class="contract-section">
              <h5 class="fw-bold">Clauses facultatives</h5>
              <span>Ce contrat est renouvelé pour une période de <strong>183 jours</strong> et prendra fin le <strong>01/08/2025</strong>.</span>
              <span>Il peut être renouvelé avec paiement avant son échéance.</span>
            </div>
          
            <hr>
          <div class="d-flex justify-content-end mb-3 row w-100">
            <span class="w-auto me-5">Fait a Bujumbura, Le 27/12/2025 par <strong>Elogge</strong></span>
          </div>
            <div class="row d-flex align-items-start w-100 ">
              <div class="col-6">
                <strong>L’assuré :</strong>
                <div class="signature-space"></div>
              </div>
              <div class="col-6  d-grid">
                <strong>L’assuré :</strong>

                <strong>Serenity Insurance</strong>
              </div>
            </div>
          </div>
          
        </div> -->
        <div>
          <div *ngIf="badgeForm" class="w-100 mt-3  d-flex justify-content-center">
            <form [formGroup]="badgeForm" class="form mx-2">
              <!-- First row: Three inputs -->
              <div class="row ">
                <label class="mb-2 col-6 col-lg-4 col-md-6 col-sm-1">
                  <input class="input" readonly type="text" placeholder="" formControlName="assureur" required>
                  <span>Assureur</span>
                  <small *ngIf="badgeForm.get('assureur').invalid && badgeForm.get('assureur').touched" class="text-danger">
                    L'assureur est obligatoire
                  </small>
                </label>
                <label class="mb-2 col-6 col-lg-4 col-md-6 col-sm-1">
                  <input class="input" type="text" placeholder="" formControlName="preneur" required>
                  <span>Preneur</span>
                  <small *ngIf="badgeForm.get('preneur').invalid && badgeForm.get('preneur').touched" class="text-danger">
                    Le preneur est obligatoire
                  </small>
                </label>
                <label class="mb-2 col-6 col-lg-4 col-md-6 col-sm-1">
                  <input class="input" type="text" placeholder="" formControlName="address" required>
                  <span>Adresse</span>
                  <small *ngIf="badgeForm.get('address').invalid && badgeForm.get('address').touched" class="text-danger">
                    L'adresse est obligatoire
                  </small>
                </label>
                <label class="mb-2 col-6 col-lg-4 col-md-6 col-sm-1">
                  <input class="input" type="text" placeholder="" formControlName="policeNumber" required>
                  <span>Numéro de police</span>
                  <small *ngIf="badgeForm.get('policeNumber').invalid && badgeForm.get('policeNumber').touched" class="text-danger">
                    Le numéro de police est obligatoire
                  </small>
                </label>
                <label class="mb-2 col-6 col-lg-4 col-md-6 col-sm-1">
                  <input class="input" type="text" placeholder="" formControlName="marque" required>
                  <span>Marque</span>
                  <small *ngIf="badgeForm.get('marque').invalid && badgeForm.get('marque').touched" class="text-danger">
                    La marque est obligatoire
                  </small>
                </label>
                <label class="mb-2 col-6 col-lg-4 col-md-6 col-sm-1">
                  <input class="input" type="text" placeholder="" formControlName="plaque" required>
                  <span>Plaque</span>
                  <small *ngIf="badgeForm.get('plaque').invalid && badgeForm.get('plaque').touched" class="text-danger">
                    La plaque est obligatoire
                  </small>
                </label>
                <label class="mb-2 col-6 col-lg-4 col-md-6 col-sm-1">
                  <input class="input" type="text" placeholder="" formControlName="chasis" required>
                  <span>Châssis</span>
                  <small *ngIf="badgeForm.get('chasis').invalid && badgeForm.get('chasis').touched" class="text-danger">
                    Le châssis est obligatoire
                  </small>
                </label>
                <label class="mb-2 col-6 col-lg-4 col-md-6 col-sm-1">
                  <input class="input" type="text" placeholder="" formControlName="usage" required>
                  <span>Usage</span>
                  <small *ngIf="badgeForm.get('usage').invalid && badgeForm.get('usage').touched" class="text-danger">
                    L'usage est obligatoire
                  </small>
                </label>
                <label class="mb-2 col-6 col-lg-4 col-md-6 col-sm-1">
                  <input class="input" type="number" placeholder="" formControlName="passagersCabine" required>
                  <span>Passagers Cabine</span>
                  <small *ngIf="badgeForm.get('passagersCabine').invalid && badgeForm.get('passagersCabine').touched" class="text-danger">
                    Le nombre de passagers en cabine est obligatoire
                  </small>
                </label>
                <label class="mb-2 col-6 col-lg-4 col-md-6 col-sm-1">
                  <input class="input" type="number" placeholder="" formControlName="passagersPlateau" required>
                  <span>Passagers Plateau</span>
                  <small *ngIf="badgeForm.get('passagersPlateau').invalid && badgeForm.get('passagersPlateau').touched" class="text-danger">
                    Le nombre de passagers sur le plateau est obligatoire
                  </small>
                </label>
                <label class="mb-2 col-6 col-lg-4 col-md-6 col-sm-1">
                  <input class="input" type="date" placeholder="" formControlName="startDate" required>
                  <span>Date de début</span>
                  <small *ngIf="badgeForm.get('startDate').invalid && badgeForm.get('startDate').touched" class="text-danger">
                    La date de début est obligatoire
                  </small>
                </label>
                <label class="mb-2 col-6 col-lg-4 col-md-6 col-sm-1">
                  <input class="input" type="date" placeholder="" formControlName="endDate" required>
                  <span>Date de fin</span>
                  <small *ngIf="badgeForm.get('endDate').invalid && badgeForm.get('endDate').touched" class="text-danger">
                    La date de fin est obligatoire
                  </small>
                </label>
              </div>
            
              
            
  
            
              <!-- Submit Button -->
               <div class="d-grid">
               <div class="d-flex justify-content-center mt-3">
                <button 
                  *ngIf="badgeForm.valid"
                  class="submit w-25"
                  data-bs-toggle="modal"
                  data-bs-target="#myModal"
                  (click)="isModalShown=true">
                  Envoyer
                </button>
            
                
                <button
                  (click)="checkGlobalForm()" 
                  *ngIf="!badgeForm.valid"
                  class="submit w-25">
                  Envoyer
                </button>
              </div> 
              <small *ngIf="badgeForm.invalid && !isFormValid" class="text-danger text-center mb-3">Le formulaire n'est pas complet, veuillez remplir tous les champs</small>
  
               </div>
              
            </form>
            
            
            
            
  
            
            
            
          </div>
  <div class="w-100 mt-4 d-flex justify-content-center">
              <span><a class="text-main" style="text-decoration: none;" href="https://serenityinsurance.bi" title="Don Delice Dushime" >Serenity Insurance Company</a>  <span class="mx-3">©</span> <span>2025</span></span>
            </div>
        </div>
      </div>
    </div>
  
  
  
  
  
  
    <!-- Agent code badge-->
  
  
    <section
          style="transition: all 2s; z-index:5"
          class="modal-overlay d-grid align-items-center justify-content-center"
          (click)="closeModal($event)"
          *ngIf="isModalShown && badgeForm.valid"
      >
  
      <div class="inner-container"
      style="width: 100%; z-index:5">
  
        <div
  
        style="background-image: url(../../../assets/images/Flag-of-Burundi-07\ 1.png);background-size:contain"
        #myModal
        class="bg-white position-relative  mx-1 lg-radius"
        
    >
  
    <div class="attestation d-none print-only">
      <div class="d-flex">
        <div class="d-grid w-30 me-3 pe-3 pb-2" style="border-right: 2px dotted black; padding-top: 110px;">
          <div class="mb-2">
            <b>No {{ badgeForm.value.policeNumber }}</b>
          </div>
          <div class="d-flex mb-2 align-items-center w-100">
            <span class="me-3">ASSUREUR :</span>
            <b>{{ badgeForm.value.assureur }}</b>
          </div>
          <div class="d-flex mb-2 align-items-center">
            <span class="me-2">Valable du</span>
            <b>{{ badgeForm.value.startDate }}</b>
            <span class="mx-2">au</span>
            <b>{{ badgeForm.value.endDate }}</b>
          </div>
          <div class="d-flex mb-2 align-items-center w-100">
            <span class="me-3">Adresse :</span>
            <b>{{ badgeForm.value.address }}</b>
          </div>
          <div class="d-flex mb-2 align-items-center w-100">
            <span class="me-3">Police No :</span>
            <b>{{ badgeForm.value.policeNumber }}</b>
          </div>
          <div class="d-flex mb-2 align-items-center w-100">
            <span class="me-3">Marque :</span>
            <b>{{ badgeForm.value.marque }}</b>
          </div>
          <div class="d-flex mb-2 align-items-center w-100">
            <span class="me-3">Plaque No :</span>
            <b>{{ badgeForm.value.plaque }}</b>
          </div>
          <div class="d-flex mb-2 align-items-center w-100">
            <span class="me-3">Chassis No :</span>
            <b>{{ badgeForm.value.chasis }}</b>
          </div>
          <div class="d-flex mb-2 align-items-center w-100">
            <span class="me-3">Usage :</span>
            <b>{{ badgeForm.value.usage }}</b>
          </div>
          <div class="d-flex ">
            <span>Passagers</span>
          </div>
          <div class="d-flex w-100 ">
            <div class="d-grid w-50">
              <span>en cabine</span>
              <b>{{ badgeForm.value.passagersCabine }}</b>
            </div>
            <div class="d-grid w-50">
              <span>sur plateau</span>
              <b>{{ badgeForm.value.passagersPlateau }}</b>
            </div>
          </div>
        </div>
        <div id="print-section" class="w-70 p-3 row">
          <div class="w-50 to-print d-none col-6"></div>
          <div class="d-grid w-50 col-6 really-print pt-2">
            <div class="d-flex no-print justify-content-center">
              <img style="width:120px; height: 50px;" src="../../../assets/images/assur.webp" alt="">
            </div>
            <div class="d-flex no-print justify-content-center mb-4">
              <span class="text-center">
                <b class="text-center fs-3">ATTESTATION D'ASSURANCE</b>
              </span>
            </div>
            <div class="d-grid mt-5">
              <div class="d-flex mb-5 align-items-center">
                <div class="d-grid mb-4 w-30 no-print">
                  <b>No 19456822</b>
                  <span class="">La société d'Assurances</span>
                </div>
                <div class="p-1 ps-5 no-border-print w-70">
                  <small class="mt-3 ms-4" style="margin-left: 30px;">
                    <span>{{ badgeForm.value.assureur }}</span>
                  </small>
                </div>
              </div>
              <div class="mb-4 no-print">
                <p class="">Certifie que la responsabilité civile du preneur d'assurance ci-après est couverte conformément aux dispositions légales et réglementaires relatives à l'assurance des véhicules automobiles.</p>
              </div>
              <div class="mb-2 mt-4">
                <div class="d-flex align-items-center mb-4 ms-5 ps-2">
                  <span class="me-2 no-print">La présente attestation est valable du</span>
                  <small class="ms-3">{{ badgeForm.value.startDate | date:'dd/MM/yyyy' }}</small>
                  <span class="mx-2 no-print">au</span>
                  <small class="ms-5">{{ badgeForm.value.endDate | date:'dd/MM/yyyy' }}</small>
                </div>
                <div class="no-border-print mt-2">
                  <div class="d-flex align-items-start w-100">
                    <span class="me-3 w-30 no-print">Preneur d'Assurance</span>
                    <small class="w-70 t-right" style="min-height: 50px;">{{ badgeForm.value.preneur }}</small>
                  </div>
                  <div class="d-flex align-items-center w-100">
                    <span class="me-3 w-30 no-print">Adresse</span>
                    <small class="w-70 t-right">{{ badgeForm.value.address }}</small>
                  </div>
                  <div class="d-flex align-items-center w-100 mt-4 mb-2">
                    <span class="me-3 w-30 no-print">No de Police</span>
                    <small class="w-70 t-right ms-5">{{ badgeForm.value.policeNumber }}</small>
                  </div>
                  <div class="d-flex align-items-center w-100 mb-1">
                    <span class="me-3 w-30 no-print">Marque et Type de véhicule</span>
                    <small class="w-70 t-right">{{ badgeForm.value.marque }}</small>
                  </div>
                  <div class="d-flex align-items-center w-100 mb-1">
                    <span class="me-3 w-30 no-print">Plaque No</span>
                    <small class="w-70 t-right">{{ badgeForm.value.plaque }}</small>
                  </div>
                  <div class="d-flex align-items-center w-100 mb-1">
                    <span class="me-3 w-30 no-print">Châssis No</span>
                    <small class="w-70 t-right">{{ badgeForm.value.chasis }}</small>
                  </div>
                  <div class="d-flex align-items-center w-100 mb-2">
                    <span class="me-3 w-30 no-print">Usage</span>
                    <small class="w-70 t-right">{{ badgeForm.value.usage }}</small>
                  </div>
                  <div class="d-flex align-items-start w-100">
                    <span class="me-3 w-30 no-print">Passagers</span>
                    <div class="w-70 d-flex t-right">
                      <div class="d-grid w-50">
                        <span class="no-print">en cabine</span>
                        <small class="go-down">{{ badgeForm.value.passagersCabine }}</small>
                      </div>
                      <div class="d-grid w-50">
                        <span class="no-print">sur plateau</span>
                        <small class="go-down">{{ badgeForm.value.passagersPlateau }}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        </div>
        
  
      </div>
    </div>
    
  
    <div class="attestation">
      <div class="d-flex">
        <div class="d-grid w-30 me-3 pe-3 pb-2" style="border-right: 2px dotted black; padding-top: 110px;">
          <div class="mb-2">
            <!-- <b>No 1958062</b> -->
          </div>
          <div class="d-flex mb-2 align-items-center w-100">
            <span class="me-3">ASSUREUR :</span>
            <b>{{ badgeForm.value.assureur }}</b>
          </div>
          <div class="d-flex mb-2 align-items-center">
            <span class="me-2">Valable du</span>
            <b>{{ badgeForm.value.startDate }}</b>
            <span class="mx-2">au</span>
            <b>{{ badgeForm.value.endDate }}</b>
          </div>
          <div class="d-flex mb-2 align-items-center w-100">
            <span class="me-3">Adresse :</span>
            <b>{{ badgeForm.value.address }}</b>
          </div>
          <div class="d-flex mb-2 align-items-center w-100">
            <span class="me-3">Police No :</span>
            <b>{{ badgeForm.value.policeNumber }}</b>
          </div>
          <div class="d-flex mb-2 align-items-center w-100">
            <span class="me-3">Marque :</span>
            <b>{{ badgeForm.value.marque }}</b>
          </div>
          <div class="d-flex mb-2 align-items-center w-100">
            <span class="me-3">Plaque No :</span>
            <b>{{ badgeForm.value.plaque }}</b>
          </div>
          <div class="d-flex mb-2 align-items-center w-100">
            <span class="me-3">Chassis No :</span>
            <b>{{ badgeForm.value.chasis }}</b>
          </div>
          <div class="d-flex mb-2 align-items-center w-100">
            <span class="me-3">Usage :</span>
            <b>{{ badgeForm.value.usage }}</b>
          </div>
          <div class="d-flex">
            <span>Passagers</span>
          </div>
          <div class="d-flex w-100">
            <div class="d-grid w-50">
              <span>en cabine</span>
              <b>{{ badgeForm.value.passagersCabine }}</b>
            </div>
            <div class="d-grid w-50">
              <span>sur plateau</span>
              <b>{{ badgeForm.value.passagersPlateau }}</b>
            </div>
          </div>
        </div>
    
        <div class="d-grid w-70 p-3">
          <div class="d-flex justify-content-center">
            <img style="width:120px; height: 50px;" src="../../../assets/images/assur.webp" alt="">
          </div>
          <div class="d-flex justify-content-center mb-4">
            <span class="text-center">
              <b class="text-center fs-3">ATTESTATION D'ASSURANCE</b>
            </span>
          </div>
          <div class="d-grid">
            <div class="d-flex align-items-center">
              <div class="d-grid w-30">
                <b>No 19456822</b>
                <span class="">La société d'Assurances</span>
              </div>
              <div class="p-1 border border-dark w-70">
                <b><span>{{ badgeForm.value.assureur }}</span></b>
              </div>
            </div>
            <div class="mb-1">
              <p class="">Certifie que la responsabilité civile du preneur d'assurance ci-après est couverte conformément aux dispositions légales et réglementaires relatives à l'assurance des véhicules automobiles.</p>
            </div>
            <div class="mb-2">
              <div class="d-flex align-items-center mb-2">
                <span class="me-2">La présente attestation est valable du</span>
                <b>{{ badgeForm.value.startDate }}</b>
                <span class="mx-2">au</span>
                <b>{{ badgeForm.value.endDate }}</b>
              </div>
              <div class="border border-dark" style="border-radius: 30px;">
                <div class="d-flex align-items-start w-100">
                  <span class="me-3 w-30">Preneur d'Assurance</span>
                  <b class="w-70 t-right" style="min-height: 100px;">{{ badgeForm.value.preneur }}</b>
                </div>
                <div class="d-flex align-items-center w-100">
                  <span class="me-3 w-30">Adresse</span>
                  <b class="w-70 t-right">{{ badgeForm.value.address }}</b>
                </div>
                <div class="d-flex align-items-center w-100" style="border-top: 1px solid black; border-bottom: 1px solid black;">
                  <span class="me-3 w-30">No de Police</span>
                  <b class="w-70 t-right">{{ badgeForm.value.policeNumber }}</b>
                </div>
                <div class="d-flex align-items-center w-100">
                  <span class="me-3 w-30">Marque et Type de véhicule</span>
                  <b class="w-70 t-right">{{ badgeForm.value.marque }}</b>
                </div>
                <div class="d-flex align-items-center w-100">
                  <span class="me-3 w-30">Plaque No</span>
                  <b class="w-70 t-right">{{ badgeForm.value.plaque }}</b>
                </div>
                <div class="d-flex align-items-center w-100">
                  <span class="me-3 w-30">Chassis No</span>
                  <b class="w-70 t-right">{{ badgeForm.value.chasis }}</b>
                </div>
                <div class="d-flex align-items-center w-100">
                  <span class="me-3 w-30">Usage</span>
                  <b class="w-70 t-right">{{ badgeForm.value.usage }}</b>
                </div>
                <div class="d-flex align-items-start w-100">
                  <span class="me-3 w-30">Passagers</span>
                  <div class="w-70 d-flex t-right">
                    <div class="d-grid w-50">
                      <span>en cabine</span>
                      <b>{{ badgeForm.value.passagersCabine }}</b>
                    </div>
                    <div class="d-grid w-50">
                      <span>sur plateau</span>
                      <b>{{ badgeForm.value.passagersPlateau }}</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>    
          </div>
        </div>
      </div>
    </div>
    
       
  <!--* qr code and save options-->
        
    </div>
    <div class="d-flex justify-content-end mb-1">
      <div>
        <div 
        style="width: 150px;"
        class="position-relative">
          <div 
          role="button"
          class="bg-main rounded p-2 text-white">
          <div
           class="d-flex justify-content-around align-items-center">
           <button class="bg-main btn text-white" ngxPrint printSectionId="contratPrint"
           [useExistingCss]="true">
            <b class="me-1" >Imprimer le contrat </b>
  
           </button>
           <button class="bg-main btn text-white" ngxPrint printSectionId="print-section"
           [useExistingCss]="true">
            <b class="me-1" >Imprimer la carte</b>
  
           </button>
          </div>
            
          </div>
  
  
          
  
      
        </div>
      </div>
  
    </div>
  
      </div>
      
         
      </section>
    
  
  
  
  </main>